<div class="admin-clinic clearfix">
    <div class="admin-lbox fram-box fl">
        <tree></tree>
    </div>
    <div class="admin-rbox fram-box fr" >
        <!--案例创建头部 保存 和 取消按钮....-->
        <div class="case-record">
            <div class="record-text-ct">
                <div>
                    <span class="sel-title">案例创建</span>
                </div>
                <p class="org-name">新案例</p>
            </div>
            <div class="case-edit-ct">
                <!-- @click="fEditSave" @click="fEditSave" @click="fEditCancel" -->
                <el-button>保存</el-button>
                <el-button >保存并新建</el-button>
                <el-button >取消</el-button>
            </div>
        </div>
        <!-- 一般信息 -->
        <div class="segment-title f-14">
            <span class="s-title-l">一般信息</span>
            <span class="s-title-r">*必填信息</span>
        </div>
        <div class="case-info-ct">
            <div class="row-ct" >
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 案例名称</span>
                    <el-input class="row-item-value" value=""></el-input>
                </div>
            </div>
        </div>
        <!-- 案例 -->
        <div class="segment-title f-14">
            <span class="s-title-l">一般信息</span>
            <span class="s-title-r">*必填信息</span>
        </div>
        <div class="case-info-ct">
            <div class="row-ct" >
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 医生</span>
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 诊疗项目</span>
                    <el-input class="row-item-value" value=""></el-input>
                </div>
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 诊疗时间</span>
                    <el-input class="row-item-value" value=""></el-input>
                </div>
            </div>
        </div>
    </div>
</div>