
<div class="consult-dashboard-ct" >
    <div class="consult-content">
      <el-row :gutter="24" type="flex" justify="space-between">

            <el-col :span="18" type="flex" class="">
                <el-tabs   type="border-card" v-model="tabActive" @tab-click="handleTabClick">
                    <el-tab-pane label="待面诊" name="waiting">
                        <div class="waiting-ct">
                            <div class="waiting-handle">
                                <el-row :gutter="24"  type="flex" justify="space-between" align="center" >
                                    <el-col :span="24" type="flex" justify="space-between">
                                        <el-col :span="12" class="customer-icon">
                                            <div class="today-count" style="">
                                                今日面诊   <span class="p-count">{{todayCount}}人</span>
                                            </div>
                                            <div class="today-count des" style="">
                                                按即将到面诊时间顺序排序
                                            </div>
                                        </el-col>
                                        <el-col :span="12" class="add-consult">
                                          <el-button class="el-icon-plus" @click="fAddNewDiagnose"> 新增面诊客户</el-button>
                                        </el-col>
                                    </el-col>
                                </el-row>
                            </div>
                            <div class="customer-waiting-content" >
                              <table class="customer-table">
                                  <tr>
                                      <th>姓名 </th><th>约面时间</th><th>电话</th><th>咨询项目</th><th>网络咨询师</th><th>备注</th><th></th>
                                  </tr>
                                  <template v-for="(oItem,oIndex) in aWaitinglist">
                                      <tr class="day-ct" v-if="oIndex>0||todayCount<=0">
                                          <td class="idate">{{oItem[0].faceDiagnoseDate|dateFilter("yyyy年MM月dd日")}}</td>
                                          <td class="icount idate" colspan="6">{{oItem.length}} 人</td>
                                      </tr>
                                      <tr v-for="(item,ind) in oItem">
                                          <td>{{item.customerName}}</td>
                                          <td>{{item.faceDiagnoseDate|dateFilter}}</td>
                                          <td :style="{display:[item.show!='1'?'':'none']}">{{item.customerPhone|phoneFilter}}
                                              <img class="eye-img" v-if="item.customerPhone" src="../../common/img/i-eye-close.png" @click="fSeaPhone(oIndex,ind,'1')">
                                          </td>
                                          <td :style="{display:[item.show=='1'?'':'none']}">{{item.customerPhone}}
                                              <img class="eye-img" v-if="item.customerPhone" src="../../common/img/i-eye-open.png" @click="fSeaPhone(oIndex,ind,'0')">
                                          </td>
                                          <td>{{item.projectList|projectFilter}}</td><td>{{item.netConsultantsName}}</td><td>{{item.faceDiagnoseRemarks}}</td><td>
                                          <el-button class="start-cst-btn"  @click="fStartConsult(item.appointmentId,item.customerId,item.id,item.projectList)"> 开始咨询</el-button></td>
                                      </tr>
                                  </template>

                              </table>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="已结束" name="eend">
                        <div>
                            <div class="customer-waiting-content">


                                <table class="customer-table">
                                    <tr>
                                        <th>姓名 </th><th>面诊时间</th><th>电话</th><th>咨询项目</th><th>网络咨询师</th><th>结果</th><th>成功项目</th><th>备注</th>
                                    </tr>
                                    <template v-for="(item,oIndex) in aEndList">
                                        <tr class="tr-end">
                                            <td>{{item.customerName}}</td>
                                            <td>{{item.faceDiagnoseDate|dateFilter}}</td>
                                            <td :style="{display:[item.show!='1'?'':'none']}">{{item.customerPhone|phoneFilter}}
                                                <img class="eye-img" v-if="item.customerPhone" src="../../common/img/i-eye-close.png" @click="fSeaEndPhone(oIndex,'1')">
                                            </td>
                                            <td :style="{display:[item.show=='1'?'':'none']}">{{item.customerPhone}}
                                                <img class="eye-img" v-if="item.customerPhone" src="../../common/img/i-eye-open.png" @click="fSeaEndPhone(oIndex,'0')">
                                            </td>
                                            <td>{{item.projectList|projectFilter}}</td>
                                            <td>{{item.netConsultantsName}}</td>

                                            <td>{{item.faceDiagnoseResult|faceDiagnoseResultFilter}}</td>
                                            <td>{{item.successProducts|productFilter(item.faceDiagnoseResult)}} </td>
                                            <td>{{item.faceDiagnoseRemarks}}</td>

                                        </tr>
                                    </template>

                                </table>

                            </div>

                            <div class="customer-block-content customer-pagination-align">
                                <el-pagination
                                        @current-change="handleCurrentChange"
                                        layout="prev, pager, next"
                                        :page-size="pageSize"
                                        :total="count">
                                </el-pagination>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
    </div>
</div>