
<div class="consult-content" >
     <div class="data-content box-shadow" style="vertical-align: middle;">
         <el-row :gutter="24">
             <el-col :span="12"><div class="today-count"><span>今日微信咨询总量</span><span class="s-count"> {{todayNum}}</span> 人</div></el-col>
             <el-col :span="12"><div class="today-cmp"><span>对比昨日</span>
                 <span class="s-last"> <i class="el-icon-pa-long-arrow-down sdown" v-if="!isUp">

                 </i> <i class="el-icon-pa-long-arrow-up sup" v-if="isUp"></i> {{compareNum}}</span>人</div></el-col>
         </el-row>
         <el-row :gutter="20">
             <el-col><div class="data-date"><span>{{thisDay}}</span></div></el-col>
         </el-row>

     </div>

    <div class="chart-content box-shadow">
        <div class="choose-ct">
            <el-date-picker
                    class="choose-date"
                    v-model="startDate"
                    type="date"
                    @change="changedate"
                    placeholder="选择日期"
                    :picker-options="startDatePicker"
            >
            </el-date-picker>-
            <el-date-picker
                    class="choose-date"
                    v-model="endDate"
                    type="date"
                    @change="changedate"
                    :picker-options="endDatePicker"
                    placeholder="选择日期">
            </el-date-picker>

                <el-select v-model="statisticsType" style="display: none;" placeholder="请选择" class="i-select">
                    <el-option
                            v-for="item in optionType"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            <el-popover style="display: none;"
                    ref="selectdate"
                    placement="bottom-end"
                    width="360"
                    v-model="isModel">
                <el-tabs v-model="activeSelect" @tab-click="handleClick">
                    <el-tab-pane label="最近" name="nearly">
                        <el-radio-group v-model="tabType" >
                            <el-radio-button label="top"  class="day-radio">最近7天</el-radio-button>
                            <el-radio-button label="right">最近14天</el-radio-button>
                            <el-radio-button label="bottom">最近30天</el-radio-button>
                        </el-radio-group>
                    </el-tab-pane>
                    <el-tab-pane label="自定义" name="define">
                        <label class="neartext"> 近 <input type="text" v-model="defineday" class="day-input"></input> 天 </label>
                    </el-tab-pane>

                </el-tabs>
                <div style="text-align: right; margin: 0">
                    <el-button type="primary"  @click="isModel = false">确定</el-button>
                </div>
            </el-popover>
            <el-button v-popover:selectdate style="display: none;"  class="i-sbtn dbtn">最近7天<i class="el-icon-caret-bottom el-icon-right btn-dp"></i></el-button>


        </div>

        <div>

        </div>

        <div class="col-chart">
            <highcharts-component :options="optionsColumn"  :styles="styles"></highcharts-component>
        </div>
    </div>


    <div class="data-content box-shadow" style="vertical-align: middle;margin-top:20px;">
        <el-row :gutter="24">
            <el-col :span="12"><div class="today-count"><span>今日现场咨询总量</span><span class="s-count"> {{todayNum_scene}}</span> 人</div></el-col>
            <el-col :span="12"><div class="today-cmp"><span>对比昨日</span>
                 <span class="s-last"> <i class="el-icon-pa-long-arrow-down sdown" v-if="!isUp_scene">
                 </i> <i class="el-icon-pa-long-arrow-up sup" v-if="isUp_scene"></i> {{compareNum_scene}}</span>人</div></el-col>
        </el-row>
    </div>

    <div class="chart-content box-shadow">
        <div class="choose-ct">
            <el-date-picker
                    class="choose-date"
                    v-model="startDate_scene"
                    type="date"
                    :picker-options="startDatePicker"
                    @change="changedate_scene"
                    placeholder="选择日期"

            >
            </el-date-picker>-
            <el-date-picker
                    class="choose-date"
                    v-model="endDate_scene"
                    type="date"
                    :picker-options="endDatePicker"
                    @change="changedate_scene"
                    placeholder="选择日期">
            </el-date-picker>
        </div>

        <div class="col-chart">
            <highcharts-component :options="optionsColumn_scene"  :styles="styles"></highcharts-component>
        </div>
    </div>
</div>