<div class="customerinfo-info-content">
    <div class="info-base">

        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">消费者ID：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <div class="info-val">{{$parent.oCustomer.job}}</div>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">客户编号：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">222222</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">客户名称：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">性别：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">出生年月：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">民族：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">身份证：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">婚姻状况：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">学历：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">工作单位：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>

        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">职业：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">社保号：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>

    </div>
    <div class="info-contact">
        <div class="class-line">联系方式</div>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">手机：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">微信：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>

        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">QQ：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">邮箱</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">社保号：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>

    </div>

    <div class="info-address">
        <div class="class-line">地址信息</div>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">通讯地址：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">邮箱</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">邮编：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>

    </div>
</div>