<div>
    <div class="triage-block-content">
        <div class="triage-block-uinfo">
            <el-row :gutter="20"  type="flex" justify="space-between" align="center" >
                <el-col :span="6" type="flex" justify="space-between">

                </el-col>
                <el-col :span="18"  type="flex" justify="space-between" style="padding-right: 0px;">
                    <!--  <el-col :span="1" style="float: right;">
                          <div ><img src="../../common/img/refresh.png" class="customer-icon" @click="fRefresh"></div>
                      </el-col>-->
                    <!--         <el-col :span="1" style="padding-left:0px;float: right;">
                                 <div><img src="../../common/img/setting.png" class="customer-icon" @click="fEdit"></div>
                             </el-col>-->
                    <el-col :span="24"  class="timekj" type="flex" justify="space-between" style="padding-right: 0px;">
                        <el-col :span="20" style="float: right;">
                            <div class="triage-date">
                                <el-date-picker
                                        type="date"
                                        placeholder="开始日期"
                                        v-model="startDate"
                                        size="small"
                                        :picker-options="startDatePicker"
                                        @change="fDateChange">

                                </el-date-picker>
                                <el-date-picker
                                        type="date"
                                        placeholder="结束日期"
                                        v-model="endDate"
                                        size="small"
                                        :picker-options="endDatePicker"
                                        @change="fDateChange">

                                </el-date-picker>
                            </div>
                        </el-col>
                    </el-col>

                </el-col>
            </el-row>
            <el-row>

            </el-row>
        </div>
        <!-- 分诊表格 -->
        <div class="table-content">
            <el-table
                    :data="aTriagelist"
                    style="width: 100%">
                <el-table-column
                        prop="customerName"
                        label="姓名"
                        min-width="10%">
                </el-table-column>
                <el-table-column
                        prop="appointmentTime"
                        label="面诊时间"
                        min-width="16%">
                    <template slot-scope="scope" style="text-align: right;">
                        <p>{{scope.row.appointmentTime|dateFilter}}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="phoneNum"
                        label="电话"
                        min-width="20%">
                       <template slot-scope="scope"  style="text-align: right;">
                            <div :style="{display:[aTriagelist[scope.$index].willShow!='1'?'':'none']}" >
                                <span>{{scope.row.phoneNum|phoneFilter}}</span>
                                <img class="eye-img" src="../../../../common/img/i-eye-close.png" v-if="aTriagelist[scope.$index].phoneNum!=''?true:false " style="margin-left:5px;" @click="openPhone(scope.$index,'1')" >
                            </div>
                            <div :style="{display:[aTriagelist[scope.$index].willShow=='1'?'':'none']}">
                                <span>{{scope.row.phoneNum}}</span>
                                <img class="eye-img" src="../../../../common/img/i-eye-open.png" v-if="aTriagelist[scope.$index].phoneNum!=''?true:false " style="margin-left:5px;" @click="closePhone(scope.$index,'0')" >
                            </div>
                        </template>    
                </el-table-column>
                <el-table-column
                        prop="projectNames"
                        label="咨询项目"
                        min-width="18%">
                    <template slot-scope="scope" style="text-align: right;">
                        <p>{{scope.row.projectNames|array2String}}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="consultName"
                        label="网络咨询师"
                        min-width="18%">

                </el-table-column>

                <el-table-column min-width="18%">

                </el-table-column>
            </el-table>

        </div>

        <!--分页-->
        <div class=" triage-pagination-align">
           <el-pagination
                    @current-change="handleCurrentChange"
                    layout="prev, pager, next"
                    :page-size="pageSize"
                    :total="count">
            </el-pagination>
        </div>
    </div>
</div>