
<div class="case-content">

    <div class="case-top" >
        <div style="height: 136px">
            <el-row  justify="center" style="height: 134px">
                <el-col :span="3" :offset="6">
                    <div class="case-top-demo"style=" border-bottom :4px solid #FFF;">
                        <a style="margin-top: 100px" herf="case_base;" @click="msg=1" :class="{'bottomchange':msg==1}">
                            <img src="../../common/img/case-top1.png" class="top-img">
                        </a>
                        <a class="case-top-title"style="margin-bottom:10px;font-size: 16px">项目</a>
                    </div>
                </el-col>
                <el-col :span="3"><div class="case-top-demo"><a style="height: 100px" herf="case_base;" @click="msg=2" :class="{'bottomchange':msg==2}"><img src="../../common/img/case-top2.png" class="top-img"></a>医生</div></el-col>
                <el-col :span="3"><div class="case-top-demo"><a style="height: 100px" herf="case_base;" @click="msg=3" :class="{'bottomchange':msg==3}"><img src="../../common/img/case-top3.png" class="top-img"></a>医院</div></el-col>
                <el-col :span="3"><div class="case-top-demo"><a style="height: 100px" herf="case_base;" @click="msg=4" :class="{'bottomchange':msg==4}"><img src="../../common/img/case-top4.png" class="top-img"></a>市场活动</div></el-col>
            </el-row>
        </div>
    </div>
<!--案例列表-->
    <div class="case-menu">
        <div class="case-list">
            <h6 v-for="item,index in caselist" v-if="index==0" >项目：{{item.productName}}</h6>
            <div :span="8" :offset="8" style=" display:flex;align-items:center;justify-content:center;text-align: center;height: 200px" v-if="caselist.length<=0"> {{judgelength}}</div>
            <div>
                <div  type="flex" justify="space-between" class="case-items">
                    <div  type="flex" style="padding:0;height: 390px;width:430px;" class="case-item"v-for="(list0,index) in  caselist">
                        <div class='item-info'>
                            <div class="item-top">
                                <a href="javascript:;" @click="fCaseDetail(list0.id)">
                                    <span class='before-box' style="height: 215px;width:215px;overflow: hidden">
                                        <img :src="list0.frondFile.url"  width="215"  alt="">
                                        <span class="before">before</span>
                                    </span>
                                    <span class='after-box' style="height: 215px;width:215px;overflow: hidden">
                                        <img :src="list0.backFile.url"  width="215px" alt="">
                                        <span class="after">after</span>
                                    </span>
                                </a>
                            </div>
                            <div class="item-bottom">
                                <p class="clearfix">
                                    <span class="left .fl">案例：{{list0.caseName}}</span>
                                    <!-- <span class="right .fr">医生 ：{{list0.doctorName}}</span> -->
                                </p>
                                <div class="itemName" v-for="listooo ,index in list0.relatedProduct" :key="index"> <a href="javascript:;" @click="fCaselibrary(listooo.productCode)">{{listooo.productName}}</a></div>
                                <br>
                                <div class="userifo .clearfix">
                                    <img :src="list0.customerLogo" class="fl" alt="">
                                    <span class="fl">{{list0.customerName}}</span>
                                    <span class="right .fr">医生 ：{{list0.doctorName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
