<div>
    <div class="customer-block-content">
        <div class="customer-block-uinfo">
            <el-row :gutter="20"  type="flex" justify="space-between" align="center" >
                <el-col :span="6" type="flex" justify="space-between">

                </el-col>
                <el-col :span="18"  type="flex" justify="space-between" style="padding-right: 0px;">
                    <!--  <el-col :span="1" style="float: right;">
                          <div ><img src="../../common/img/refresh.png" class="customer-icon" @click="fRefresh"></div>
                      </el-col>-->
                    <!--         <el-col :span="1" style="padding-left:0px;float: right;">
                                 <div><img src="../../common/img/setting.png" class="customer-icon" @click="fEdit"></div>
                             </el-col>-->
                    <el-col :span="20" style="float: right;">
                        <div class="customer-date">
                            <el-date-picker
                                    v-model="startDate"
                                    type="date"
                                    @change="fDateChange"
                                    placeholder="开始日期"
                                    size="small"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                            <el-date-picker
                                    v-model="endDate"
                                    type="date"
                                    @change="fDateChange"
                                    placeholder="结束日期"
                                    size="small"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </div>
                    </el-col>

                </el-col>
            </el-row>
            <el-row></el-row>
        </div>

        <div class="customer-block-content">
            <el-table
                    :data="aCustomerlist"
                    style="width: 100%">
                <el-table-column
                        @click="fCustomerDetail(id)"
                        prop="customerName"
                        label="姓名"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="appointmentTime"
                        label="面诊时间"
                        width="120">
                    <template slot-scope="scope" style="text-align: right;">
                        <p>{{scope.row.appointmentTime|dateFilter}}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="phoneNum"
                        label="电话"
                        width="160">
                    <template slot-scope="scope" v-if="show" style="text-align: right;">
                        <span>{{scope.row.phoneNum|phoneFilter}}</span>
                        <img class="eye-img" src="../../../../common/img/i-eye-open.png" style="margin-left:5px;" @click="openPhone()">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="projectNames"
                        label="咨询项目"
                        width="160">
                    <template slot-scope="scope" style="text-align: right;">
                        <p>{{scope.row.projectNames|array2String}}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="consultName"
                        label="网络咨询师">
                </el-table-column>
                <el-table-column
                        prop="sceneConsultantsName"
                        label="现场分配咨询师">
                </el-table-column>
                <el-table-column
                        prop=""
                        label=""
                        width="10">
                </el-table-column>
            </el-table>
        </div>
        <!--分页-->
        <div class="customer-block-content customer-pagination-align">
            <!--<el-pagination-->
                    <!--layout="prev, pager, next"-->
                    <!--:total="1000">-->
            <!--</el-pagination>-->
            <el-pagination
                    @current-change="handleCurrentChange"
                    layout="prev, pager, next"
                    :page-size="pageSize"
                    :total="count">
            </el-pagination>
        </div>
    </div>
</div>