
    <!--客源渠道
-->

    <div class="customerinfo-right-content">
        <div>
            <!--v-model="$parent.$parent.$parent.$parent.$parent.oCustomer.source"-->
            <el-input
            placeholder="">


            </el-input>
        </div>
        <div>
            <div class="rigth-remark">备注:</div>
            <div style="height: 100px;margin-top: 10px;">
                <!--v-model="$parent.$parent.$parent.$parent.$parent.oCustomer.comment-->
                <el-input
                type="textarea"
                :rows="3"
                placeholder="" >

                </el-input>
            </div>
        </div>
        <div>
            <el-button class="save-btn" type="primary" size="small">保存</el-button>
        </div>

    </div>






