<div class="customerinfo-member-content">
    <div class="info-base">

        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">会员卡号：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <div class="info-val">3323</div>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">开卡日期：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">会员等级：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <span class="info-lab">积分：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" class="info-row" justify="space-between">
            <el-col :span="4">
                <div>
                    <span class="info-lab">现金余额：</span>
                </div>
            </el-col>
            <el-col :span="8">
                <div>
                    <span class="info-val">微信</span>
                </div>
            </el-col>
            <el-col :span="12">
                <div>

                </div>
            </el-col>
        </el-row>


    </div>

</div>