<div class="control-content b-s">
    <div class="control-head">
        <div class="layout-ct b-s">
            <div class="lay-row">
                <div class="lay-left b-s" ><label class="scop-name">項目</label></div>
                <div class="lay-right"><label class="lay-btn cur end-btn" @click="fEndConsult">結束咨詢</label></div>
                <div class="lay-items">
                    <label class="lay-item h-item" data-itemCode="1" :style="{background:[isCurrentProject=='1'?'#9083ED':'']}" @click="fChooseItems" >项目一</label>

                    <label class="lay-item h-item" data-itemCode="2" :style="{background:[isCurrentProject=='2'?'#9083ED':'']}"  @click="fChooseItems">项目一</label>
                    <label class="lay-item h-item"data-itemCode="3" :style="{background:[isCurrentProject=='3'?'#9083ED':'']}" @click="fChooseItems">项目二</label>
                    <label class="lay-item h-item" data-itemCode="4" :style="{background:[isCurrentProject=='4'?'#9083ED':'']}" @click="fChooseItems">项目三脸部整形玻尿酸玻尿酸</label>
                    <label class="lay-item h-item" data-itemCode="5" :style="{background:[isCurrentProject=='5'?'#9083ED':'']}" @click="fChooseItems">项目一</label>
                    <label class="lay-item h-item" data-itemCode="6" :style="{background:[isCurrentProject=='6'?'#9083ED':'']}" @click="fChooseItems">项目二</label>
                    <label class="lay-item h-item" data-itemCode="7" :style="{background:[isCurrentProject=='7'?'#9083ED':'']}" @click="fChooseItems">项目三</label>
                    <label class="lay-item h-item" data-itemCode="8" :style="{background:[isCurrentProject=='8'?'#9083ED':'']}" @click="fChooseItems"> 项目一脸部整形玻尿酸玻尿酸</label>
                    <label class="lay-item h-item" data-itemCode="9" :style="{background:[isCurrentProject=='9'?'#9083ED':'']}" @click="fChooseItems">项目二</label>
                    <label class="lay-item h-item" data-itemCode="10" :style="{background:[isCurrentProject=='10'?'#9083ED':'']}" @click="fChooseItems">项目三</label>
                    <label class="lay-item h-item" data-itemCode="11" :style="{background:[isCurrentProject=='11'?'#9083ED':'']}" @click="fChooseItems">项目二</label>
                    <label class="lay-item h-item" data-itemCode="12" :style="{background:[isCurrentProject=='12'?'#9083ED':'']}" @click="fChooseItems">项目三脸部整形玻尿酸玻尿酸</label>
                    <label class="lay-item h-item" data-itemCode="13" :style="{background:[isCurrentProject=='13'?'#9083ED':'']}" @click="fChooseItems" >项目一</label>
                </div>
            </div>
            <div class="lay-row">
                <div class="lay-left b-s"><label class="scop-name">医生</label> </div>
                <div class="lay-right"></div>
                <div class="lay-items">
                    <label class="lay-item h-item" data-docCode="14" :style="{background:[isDocProject=='14'?'#9083ED':'']}" @click="fChooseDoc" >李院长</label>
                    <label class="lay-item h-item" data-docCode="15" :style="{background:[isDocProject=='15'?'#9083ED':'']}" @click="fChooseDoc" >王院长</label>
                    <label class="lay-item h-item" data-docCode="16" :style="{background:[isDocProject=='16'?'#9083ED':'']}" @click="fChooseDoc" >趙院长</label>
                </div>
            </div>

        </div>
    </div>





    <div class="control-screan" :style="{display:[!isSelectItem?'':'none']}">
        <div class="s-position s-icon s-left-icon" ><img src="../../common/img/i-left.png"></div>
        <div class="s-position s-icon s-right-icon"><img src="../../common/img/i-right.png"></div>
        <div class="s-position s-content" style="">
            <div class="s-time-ct" style="">
                <label style="float: left;">{{dCurrentDate|dateFilter}}</label><label>玻尿酸瘦脸</label><label style="float: right;" >{{sTimer}}</label>
            </div>
            <div class="s-img-ct b-s">
                <img class="img-s" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/04f12f70-77cb-4b64-bad0-26021e49d090">
                <img class="img-s" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/ed1473c8-09f9-4af9-aedd-8c26976e9363">
                <div class="s-ba-cm s-before">before</div>
                <div class="s-ba-cm s-after">after</div>
            </div>
        </div>
    </div>






    <div class="control-foot b-s" :style="{display:[!isSelectItem?'':'none']}">
        <div class="layout-ct f-ct b-s">
            <div class="lay-row">
                <div class="lay-left bt-left b-s">
                    <img class="bt-icon" src="../../common/img/i-radio.png" >医生
                </div>
                <div class="lay-right"></div>
                <div class="lay-items bt-items">  <label class="lay-item f-item" >李院长</label></div>
            </div>
            <div style="clear: both;height: 0;"></div>
            <div class="lay-row">
                <div class="lay-left bt-left b-s" >
                    <img class="bt-icon" src="../../common/img/i-radio.png">咨詢項目
                </div>
                <div class="lay-right" @click="fConnectDevice"><label class="bt-btn lay-btn "><img class="bt-icon" src="../../common/img/i-connect.png"> 连接设备</label></div>
                <div class="lay-items bt-items">
                    <label class="lay-item f-item" >项目一</label>
                    <label class="lay-item f-item">项目二</label>
                    <label class="lay-item f-item">项目三脸部整形玻尿酸玻尿酸</label>
                    <label class="lay-item f-item" >项目一</label>
                    <label class="lay-item f-item">项目二</label>
                    <label class="lay-item f-item">项目三</label>
                    <label class="lay-item f-item" >项目一脸部整形玻尿酸玻尿酸</label>
                    <label class="lay-item f-item">项目二</label>
                </div>
            </div>
        </div>
 <div class="up-icon">
     <i class="el-icon-pa-angle-double-up"></i>
 </div>
        <div class="foot-img b-s">
            <div class="layout-ct b-s">
                <div class="lay-row">
                    <div class="lay-left f-left-icon f-icon b-s"><label class="" ><i class="el-icon-d-arrow-left"></i></label> </div>
                    <div class="lay-right f-right-icon f-icon"><label class="" ><i class="el-icon-d-arrow-right
"></i></label></div>
                    <div class="b-s lay-items img-ct">
                        <div class="b-s img-i-ct"  v-for="item in imgdata">
                            <div class="img-item b-s">
                                <div class="b-ba-img-ct" style="">
                                    <img class="img-l" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/04f12f70-77cb-4b64-bad0-26021e49d090">
                                    <img class="img-l" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/ed1473c8-09f9-4af9-aedd-8c26976e9363">
                                    <div class="s-ba-cm s-before">before</div>
                                    <div class="s-ba-cm s-after">after</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!--**********************连接设备弹出框 start**************************-->
    <div :class="[isConScreanItem?'mask':'']"></div>
      <div class="common-pos-middle pop-connect" :style="{display:[isConScreanItem?'':'none']}">
        <div class="cn-middle" style="">
            <div class="cn-close" @click="fCloseConBox"><img src="../../common/img/i-cl-close.png"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>
            <div class="cn-item"  style=""><input type="text" maxlength="1"  class="cn-input"></div>

        </div>
      </div>
    <!--**********************连接设备弹出框 start**************************-->


    <!--**********************選擇框 start**************************-->
    <div style="clear: both;height: 0; display: none;"></div>
    <div class="select-content b-s" :style="{display:[isSelectItem?'':'none']}">
            <div class="sel-items-ct b-s">
                <div class="sel-img-ct sl-img-ct b-s" v-for="item in imgdata">
                    <div class="sel-img-item b-s">
                        <img class="sel-img" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/04f12f70-77cb-4b64-bad0-26021e49d090">
                        <img class="sel-img" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/ed1473c8-09f9-4af9-aedd-8c26976e9363">
                        <div class="sel-ba-cm sel-before">before</div>
                        <div class="sel-ba-cm sel-after">after</div>
                        <div class="add-case add-icon" style="">
                        <!--  <img src="../../common/img/i-add.png" class="add-img" style="" >-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="add-up-icon" :style="{display:[isSelectItem?'':'none']}"><label @click="fCloseSelect" class=""  ><i class="el-icon-pa-angle-up"></i></label></div>
    <div class="btadd-ct b-s" :style="{display:[isSelectItem?'':'none']}">
        <div class="des-items-ct b-s">
            <div class="des-img-ct b-s" v-for="item in imgdata">
                <div class="sel-img-item des-img-item ">
                    <img class="sel-img des-img" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/04f12f70-77cb-4b64-bad0-26021e49d090">
                    <img class="sel-img des-img" src="http://140.143.185.73:8077/mc_files/10088/CASE_LIBRARY/ed1473c8-09f9-4af9-aedd-8c26976e9363">
                    <div class="sel-ba-cm des-ba-cm des-before">before</div>
                    <div class="sel-ba-cm des-ba-cm sel-after des-after">after</div>
                    <div class="add-case des-icon" style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************選擇框 end**************************-->


    <!--*******************结束咨询 start**********************-->
    <div class="end-dialog" :style="{display:[dialogVisible?'':'none']}">
        <div class="dialog-ct b-s">
            <div class="end-close" @click="fCloseEnddialog"><img src="../../common/img/i-cl-close.png"> </div>
            <div class="tab-head b-s">
                 <div class="tab-item b-s" data-tabtype="success" @click="fChangeTab">已成功
                     <div class="tab-angle" :style="{display:[activeStatus=='success'?'':'none']}"></div>
                 </div>
                <div class="tab-item b-s" data-tabtype="next" @click="fChangeTab">预约下次面诊
                    <div class="tab-angle" :style="{display:[activeStatus=='next'?'':'none']}"></div></div>
                <div class="tab-item b-s" data-tabtype="nopending" @click="fChangeTab">无需后续跟进
                    <div class="tab-angle" :style="{display:[activeStatus=='nopending'?'':'none']}"></div></div>
            </div>
           <div class="tab-content">
               <div class="tab-ct-item" :style="{display:[activeStatus=='success'?'':'none']}">
                   <el-checkbox-group v-model="consultItems">
                       <el-checkbox-button v-for="eitem in endProjects" :label="eitem" :key="eitem">{{eitem}}</el-checkbox-button>
                   </el-checkbox-group>
                   <div class="search-ct">

                       <el-input
                               placeholder="搜索其他项目"
                               v-model="otheritems">
                       </el-input>
                       <i  class="el-input__icon el-icon-search"></i>

                   </div>
               </div>
               <div class="tab-ct-item" :style="{display:[activeStatus=='next'?'':'none']}">
                   <div class="set-date-ct">
                       <label class="lb-date">设置面诊时间</label>
                       <el-date-picker
                               v-model="bookdate"
                               type="date"
                               placeholder="选择日期">
                       </el-date-picker>
                   </div>
                   <div class="set-date-remark">
                       <label class="lb-date">备注</label>
                       <el-input
                               placeholder=""
                               v-model="otherresion">
                       </el-input>
                   </div>
               </div>
               <div class="tab-ct-item" :style="{display:[activeStatus=='nopending'?'':'none']}">
                   <div class="search-ct">
                       <el-input
                               placeholder="原因"
                               v-model="otherresion">
                       </el-input>
                   </div>
               </div>
           </div>
            <div class="tab-foot">
                <el-button type="success">确定</el-button>
            </div>

       </div>
    </div>

    <!--*******************结束咨询 end**********************-->
    <!--*******************客户信息 start**********************-->
    <div @click="fOpenCustomerInfo" class="customer-open"><i class="el-icon-pa-angle-double-right"></i><br/> 客户资料</span></div>
    <div :class="[!customerinfoP?'mask':'']"></div>
    <div class="customer-ct b-s" :style="{left:[!customerinfoP?'0px':'-320px']}">
      <div class="customer-db-arr" @click="fCloseCustomerInfo"> <i class="el-icon-pa-angle-double-left"></i></div>
        <div class="c-ct">
            <p class="title">客户信息</p>
            <div class="info-content">
                <div class="info-item">
                <label class="lb-name">姓名</label><el-input placeholder="客户姓名" class="cust-input" v-model="customerName"></el-input>
               </div>
                <div class="info-item">
                    <label class="lb-name">性别</label> <el-radio v-model="gender" label="1">男</el-radio>
                    <el-radio v-model="gender" label="2">女</el-radio>
                </div>
                <div class="info-item">
                    <label class="lb-name">来源</label><el-input placeholder="请输入" class="cust-input" v-model="customerName"></el-input>
                </div>
                <div class="info-item">
                    <label class="lb-name">职业</label><el-input placeholder="请输入" class="cust-input" v-model="customerName"></el-input>
                </div>
                <div class="info-item">
                    <label class="lb-name">生日</label> <el-date-picker
                        v-model="birthday"
                        type="date"
                        placeholder="客户生日"></el-date-picker>
                </div>
                <div class="info-item">
                    <label class="lb-name">电话</label><el-input placeholder="请输入" class="cust-input" v-model="customerName"></el-input>
                </div>
                <div class="info-item">
                    <label class="lb-name">微信号</label><el-input placeholder="请输入" class="cust-input" v-model="customerName"></el-input>
                </div>
            </div>
        </div>
        <div  class="c-ct">
            <p class="title">意向资料</p>
            <div class="info-content">
                <div class="info-item">
                    <label class="lb-name">咨询项目</label><div class="info-trend"><label>硅胶隆鼻</label><label>硅胶隆鼻</label><label>硅胶隆鼻</label></div>
                </div>
                <div class="info-item">
                    <label class="lb-name">术前咨询</label><div class="info-trend"><label>硅胶隆鼻</label></div>
                </div>
                <div class="info-item">
                    <label class="lb-name">喜欢案例</label><div class="info-trend"><label>硅胶隆鼻</label></div>
                </div>
                <div class="info-item">
                    <label class="lb-name">沟通记录</label><div class="info-trend"><label>硅胶隆鼻</label></div>
                </div>
                <div class="info-item">
                    <label class="lb-name">备注</label><div class="info-trend"><label>硅胶隆鼻</label></div>
                </div>
            </div>
        </div>

    </div>

    <!--*******************客户信息 end**********************-->

</div>





