<div class="control-content b-s">
    <div class="control-head">
        <div class="layout-ct b-s">
            <div class="lay-row">
                <div class="lay-left b-s" ><label class="scop-name">項目</label></div>
                <div class="lay-right"><label class="lay-btn cur end-btn" @click="fEndConsult">结束咨询</label></div>
                <div class="lay-items">
                    <label class="lay-item h-item" data-itemCode="1" :style="{background:[isCurrentProject=='1'?'#9083ED':'']}" @click="fChooseItems({productCode:1})" >全部</label>
                    <template v-for="oneItem in oProductList">
                        <template v-for="twoItem in oneItem.productList">
                            <template v-for="threeItem in twoItem.productList">
                                <label class="lay-item h-item" data-itemCode="1" :style="{background:[isCurrentProject==threeItem.productCode?'#9083ED':'']}"  @click="fChooseItems(threeItem)">{{threeItem.productName}}</label>
                            </template>
                        </template>
                    </template>
                </div>
            </div>
            <div class="lay-row">
                <div class="lay-left b-s"><label class="scop-name">医生</label> </div>
                <div class="lay-right"></div>
                <div class="lay-items">
                    <template v-for="(docitem,index) in oDoctorList">
                        <label class="lay-item h-item" data-docCode="14" :style="{background:[isDocProject==docitem?'#9083ED':'']}" @click="fChooseDoc(docitem)" >{{docitem}}</label>
                    </template>
                </div>
            </div>

        </div>
    </div>


    <!--**********************test start**************************-->


    <!--**********************test end**************************-->
    <!--**********************選擇案例框 start**************************-->
    <div style="clear: both;height: 0; display: none;"></div>
    <div class="select-content b-s" :style="{display:[isSelectItem?'':'none']}">
        <div class="sel-items-ct b-s">
            <div class="sel-img-ct sl-img-ct b-s" v-for="(oItem,index) in oCaseList" @click="fSelectShowCase(oItem,index)">
                <div class="sel-img-item b-s">
                    <img class="sel-img" :src="oItem.frondFile.url">
                    <img class="sel-img" :src="oItem.backFile.url">
                    <div class="sel-ba-cm sel-before">{{uOperateSataus.before}}</div>
                    <div class="sel-ba-cm sel-after">{{uOperateSataus.after}}</div>
                    <div class="add-case add-icon" style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-up-icon" :style="{display:[isSelectItem?'':'none']}"><label @click="fCloseSelect" class=""  ><i class="el-icon-pa-angle-up"></i></label></div>
    <div class="btadd-ct b-s"  :style="{display:[isSelectItem?'':'none']}">
        <div class="des-items-ct b-s">
            <div class="des-img-ct b-s" v-for="item,index in oShowCaseList" @click="fRemoveShowCase(item,index)">
                <div class="sel-img-item des-img-item ">
                    <img class="sel-img des-img" :src="item.frondFile.url">
                    <img class="sel-img des-img" :src="item.backFile.url">
                    <div class="sel-ba-cm des-ba-cm des-before">{{uOperateSataus.before}}</div>
                    <div class="sel-ba-cm des-ba-cm sel-after des-after">{{uOperateSataus.after}}</div>
                    <div class="add-case des-icon" style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************選擇案例框 end**************************-->



   <div class="control-screan" v-show="playingState=='playing'" >
        <div class="s-position s-icon s-left-icon"  @click="fShowNextCase(-1)" ><img src="../../common/img/i-left.png"></div>
        <div class="s-position s-icon s-right-icon" @click="fShowNextCase(1)"><img src="../../common/img/i-right.png"></div>
        <div class="s-position s-content" style="">
            <div class="s-time-ct" style="">
                <label style="float: left;">{{dCurrentDate|dateFilter}}</label><label>{{oCurrentShowItem.productName}}</label><label style="float: right;" >{{sTimer}}</label>
            </div>
            <div class="s-img-ct b-s">
                <img class="img-s" style="border-top-left-radius: 1em; border-bottom-left-radius: 1em;" :src="oCurrentShowItem.frondFile.url">
                <img class="img-s" style="border-top-right-radius: 1em; border-bottom-right-radius: 1em;"  :src="oCurrentShowItem.backFile.url">
                <div class="s-ba-cm s-before">{{uOperateSataus.before}}</div>
                <div class="s-ba-cm s-after">{{uOperateSataus.after}}</div>
            </div>
        </div>
    </div>

    <div class="control-screan-wating" v-show="playingState=='waiting'" >
        <div   class="hold_circle">
        </div>
        <div    class="hold_play">
            <img class="play" src="./../../common/img/tv/con-play.png">
        </div>
    </div>


   <div class="control-foot b-s" :style="{display:[!isSelectItem?'':'none']}">
        <div class="layout-ct f-ct b-s">
            <div class="lay-row">
                <div class="lay-left bt-left b-s">
                    <img class="bt-icon" src="../../common/img/i-radio.png" >医生
                </div>
                <div class="lay-right"></div>
                <div class="lay-items bt-items">  <label class="lay-item f-item" >{{oCurrentShowItem.doctorName}}</label></div>
            </div>
            <div style="clear: both;height: 0;"></div>
            <div class="lay-row">
                <div class="lay-left bt-left b-s" >
                    <img class="bt-icon" src="../../common/img/i-radio.png">关联項目
                </div>
                <div class="lay-right" @click="fConnectDevice"><label class="bt-btn lay-btn "><img class="bt-icon" src="../../common/img/i-connect.png"> 连接设备</label></div>
                <div class="lay-items bt-items">
                    <label class="lay-item f-item" v-for="item in oCurrentShowItem.relatedProduct" @click="fChooseItems(item)" >{{item.productName}}</label>
                </div>
            </div>
        </div>
       <!--**********************底部展示 start**************************-->
        <div class="foot-img b-s">
            <div class="layout-ct b-s">
                <div class="lay-row">
                    <div class="lay-left f-left-icon f-icon b-s"><label class="" ><i class="el-icon-d-arrow-left"></i></label> </div>
                    <div class="lay-right f-right-icon f-icon"><label class="" ><i class="el-icon-d-arrow-right
"></i></label></div>
                    <div class="b-s lay-items img-ct">
                      <!--  <div class="b-s img-i-ct"  v-for="item in oShowCaseList">-->
                        <div class="b-s img-i-ct"  v-for="item,index in oShowCaseTempList">
                            <div class="img-item b-s" :style="{transform:[index==3?'scale(1.1)':'']}">
                                <div class="b-ba-img-ct" @click="playCase(item)" style="" v-if="item.frondFile.url">
                                    <img class="img-l"  :src="item.frondFile.url">
                                    <img class="img-l" :src="item.backFile.url">
                                    <div class="s-ba-cm s-before">{{uOperateSataus.before}}</div>
                                    <div class="s-ba-cm s-after">{{uOperateSataus.after}}</div>
                                    <div class="add-case i-video-icon" v-if="index==3" style="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--**********************底部展示 end**************************-->
    </div>

    <!--**********************连接设备弹出框 start**************************-->
    <div :class="[isConScreanItem?'mask':'']"></div>
      <div class="common-pos-middle pop-connect" :style="{display:[isConScreanItem?'':'none']}">
          <div class="cn-middle" v-show="conState=='connected'" >
              <div class="co-state">
                  <img src="./../../common/img/tv/con-ok.png">
                  <span>连接成功！</span>
              </div>
          </div>
          <div class="cn-middle" v-show="conState=='connecteerror'" >
              <div class="co-state">
                  <img src="./../../common/img/tv/con-error.png">
                  <span>{{conErrorMsg}}</span>
              </div>
          </div>
        <div class="cn-middle" v-show="conState=='noconnected'">
            <div class="cn-close" @click="fCloseConBox"><img src="../../common/img/i-cl-close.png"></div>
            <div class="cn-item"  v-for="item in conCodeList" style="">
                <input :id="'codeid_'+item.id" type="text" @keyup="inputConCode($event,item.id)" v-model="item.val" maxlength="1"  class="cn-input"></div>
        </div>
      </div>
    <!--**********************连接设备弹出框 start**************************-->








    <!--*******************结束咨询 start**********************-->
    <div class="end-dialog" :style="{display:[dialogVisible?'':'none']}">
        <div class="dialog-ct b-s">
            <div class="end-close" @click="fCloseEnddialog"><img src="../../common/img/i-cl-close.png"> </div>
            <div class="tab-head b-s">
                 <div class="tab-item b-s" data-tabtype="0" @click="fChangeTab">已成功
                     <div class="tab-angle" :style="{display:[activeStatus=='0'?'':'none']}"></div>
                 </div>
                <div class="tab-item b-s" data-tabtype="1" @click="fChangeTab">预约下次面诊
                    <div class="tab-angle" :style="{display:[activeStatus=='1'?'':'none']}"></div></div>
                <div class="tab-item b-s" data-tabtype="2" @click="fChangeTab">无需后续跟进
                    <div class="tab-angle" :style="{display:[activeStatus=='2'?'':'none']}"></div></div>
            </div>
           <div class="tab-content">
               <div class="tab-ct-item" :style="{display:[activeStatus=='0'?'':'none']}">
                   <el-checkbox-group v-model="consultItems" @change="fChangeCheck">
                       <el-checkbox-button v-for="eitem in routerParam.projects" :label="eitem.projectCode" :key="eitem.projectCode">{{eitem.projectName}}</el-checkbox-button>
                   </el-checkbox-group>
                   <div class="search-ct">
                       <template>
                           <el-select
                                   v-model="otheritems"
                                   :filterable="true"
                                   :remote="true"
                                   reserve-keyword
                                   placeholder="搜索其他项目"
                                   @change="fSelectProjecChange"
                                   :remote-method="fChangeAutoSelect">
                               <el-option
                                       v-for="item in aAutoSelect"
                                       :key="item.productCode"
                                       :label="item.productName"
                                       :value="item.productCode">
                               </el-option>
                           </el-select>
                       </template>
                       <i  class="el-input__icon el-icon-search"></i>
                   </div>
                   <div  class="error-ct" :style="{display:[isFillProject?'':'none']}"><el-alert
                           class="err-tips"
                           @close="fCloseFillProject"
                           :closable="true"
                           title="项目信息必选"
                           type="error">
                   </el-alert></div>
               </div>
               <div class="tab-ct-item" :style="{display:[activeStatus=='1'?'':'none']}">
                   <div class="set-date-ct">
                       <label class="lb-date">设置面诊时间</label>
                       <el-date-picker
                               v-model="faceDiagnoseDate"
                               type="datetime"
                               placeholder="选择日期"
                               format="yyyy-MM-dd HH:mm:ss"
                               :picker-options="pickerTimeOptions"
                       >
                       </el-date-picker>

                   </div>
                   <div style="width: 100%;display: none;" class="error-ct"><el-alert
                           style="width: 370px;margin: 0 auto;"
                           title="面诊时间必填"
                           type="error">
                   </el-alert></div>
                   <div class="set-date-remark">
                       <label class="lb-date">备注</label>
                       <el-input
                               placeholder=""
                               v-model="faceDiagnoseRemarks">
                       </el-input>
                   </div>
               </div>
               <div class="tab-ct-item" :style="{display:[activeStatus=='2'?'':'none']}">
                   <div class="search-ct">
                       <el-input class="end-reason-input"
                               placeholder="原因"
                               v-model="faceDiagnoseRemarks">
                       </el-input>
                   </div>
               </div>
           </div>
            <div class="tab-foot">
                <el-button type="success" @click="fSubmitEndData">确定</el-button>
            </div>

       </div>
    </div>

    <!--*******************结束咨询 end**********************-->
    <!--*******************客户信息 start**********************-->
    <div @click="fOpenCustomerInfo" class="customer-open"><i class="el-icon-pa-angle-double-right"></i><br/> 客户资料</span></div>
    <div :class="[!isCustomerinfo?'mask':'']"></div>
    <div class="customer-ct b-s" :style="{left:[!isCustomerinfo?'0px':'-320px']}"  v-loading="userUpdateCommitMask"
         element-loading-text="提交中..."
         element-loading-spinner="el-icon-loading">
      <div class="customer-db-arr" @click="fCloseCustomerInfo"> <i class="el-icon-pa-angle-double-left"></i></div>
        <div style="position: absolute;top:40px;bottom: 0;overflow-y: scroll">
        <div class="c-ct">
            <p class="title">客户信息</p>
            <div class="info-content">
                <div class="info-item">
                <label class="lb-name">姓名</label>

                    <div class="cust-input">
                        <template>
                            <el-select
                                    v-model="temOcustomerName"
                                    :filterable="true"
                                    :remote="true"
                                    placeholder="请输入关键词"
                                    @change="fSelectNameItem"
                                    :remote-method="fGetCustomerList"
                                  >
                                <el-option
                                        v-for="item in oNameList"
                                        :key="item.name"
                                        :label="item.name+'-'+(item.phoneNum||'无电话号码')"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </template>
                    </div>

               </div>
                <div class="info-item">
                    <label class="lb-name">性别</label> <el-radio v-model="oCustomer.gender" label="1">男</el-radio>
                    <el-radio v-model="oCustomer.gender" label="2">女</el-radio>
                </div>
                <div class="info-item">
                    <label class="lb-name">来源</label>
                 <!--   <el-input placeholder="请输入" class="cust-input" v-model="oCustomer.source"></el-input>-->
                    <template>
                        <el-dropdown split-button  @command="fChooseSource">
                            {{oCustomer.source|sourceFilter(oSourceList)}}
                            <el-dropdown-menu slot="dropdown">
                                <template v-for="oSItem in oSourceList">
                                        <el-dropdown-item :command="oSItem.code">{{oSItem.name}}</el-dropdown-item>
                                </template>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>
                </div>
                <div class="info-item">
                    <label class="lb-name">职业</label><el-input placeholder="请输入" class="cust-input" v-model="oCustomer.job"></el-input>
                </div>
                <div class="info-item">
                    <label class="lb-name">生日</label>
                    <el-date-picker
                        v-model="oCustomer.birthday"
                        type="date"
                        placeholder="客户生日"></el-date-picker>
                </div>
                <div class="info-item">
                    <label class="lb-name">电话</label><el-input placeholder="请输入" class="cust-input" v-model="oCustomer.phoneNum"></el-input>
                </div>
                <div class="info-item">
                    <label class="lb-name">微信号</label><el-input placeholder="请输入" class="cust-input" v-model="oCustomer.wechatNum"></el-input>
                </div>
                <div class="info-item" style="text-align: right;">
                    <label class="lb-name"></label><el-button class="save-btn"  @click="fUpdateCustomer(oCustomer.id)">保存</el-button>
                </div>
            </div>
        </div>
        <div  class="c-ct">
            <p class="title">意向资料</p>
            <div class="info-content">
                <div class="info-item">
                    <label class="lb-name">咨询项目</label>
                      <div class="info-trend">
                          <label class="lit-project" v-for="item in oCustomer.consultProducts">{{item.projectName}}</label>
                      </div>
                </div>
                <div class="info-item">
                    <label class="lb-name">术前咨询</label>
                      <div class="info-trend">
                          <template v-for="(item,index) in oCustomer.beforePictures">
                              <img class="lit-img" :src="item" height="20" width="20" @click="fScanConsultPic(index,1)" />
                          </template>
                      </div>
                </div>
                <div class="info-item">
                    <label class="lb-name">喜欢案例</label><div class="info-trend" style="word-break: normal;">
                      <label v-for="item in oCustomer.likeCases">{{item.caseName}}</label></div>
                </div>
                <div class="info-item">
                    <label class="lb-name">沟通记录</label>
                      <div class="info-trend">
                          <template v-for="item,index in oCustomer.consultFileList">
                              <img class="lit-img"  :src="item" height="20" width="20"  @click="fScanConsultPic(index,2)" />
                          </template>
                      </div>
                </div>
                <div class="info-item">
                    <label class="lb-name">备注</label><div class="info-trend"><label>{{oCustomer.appointmentRemarks}}</label></div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!--*******************客户信息 end**********************-->
    <!--*******************术前照片 start********************-->
    <div class="end-dialog"  :style="{display:[isScanPic?'':'none']}" >
         <div class="dialog-ct scan-ct">
             <div class="end-close" @click="fClosePicdialog"><img src="../../common/img/i-cl-close.png"> </div>
             <div class="scan-arr scan-left"  @click="fChangeScanPic(-1)">
                 <!--<img class="arr" src="../../common/img/i-left.png">-->
                 <span class="el-icon-arrow-left"></span>
             </div>
             <div class="scan-pic-ct">
              <img class="scan-pic" :src="currentScanPic">
             </div>
             <div class="scan-arr scan-right" @click="fChangeScanPic(1)">
                 <span class="el-icon-arrow-right"></span>
             </div>
         </div>
    </div>
    <!--*******************术前照片 end**********************-->

</div>





