<div class="doctor-edit-content">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div>
    <div class="fram-box admin-rbox out-box-border">
        <div class="doctor-record">
            <div class="record-text-ct">
                <div>
                    <span class="sel-title">医生创建</span>
                </div>
                <p class="org-name">新医生</p>
            </div>
            <div class="doctor-edit-ct">
                <el-button @click="fEditSave">保存</el-button>
                <el-button @click="fEditSave">保存并新建</el-button>
                <el-button @click="fEditCancel">取消</el-button>
            </div>
        </div>
        <div class="segment-title f-14">
            <span class="s-title-l">一般信息</span>
            <span class="s-title-r">*必填信息</span>
        </div>
        <div class="doctor-info-ct">
            <div class="row-ct" >
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 名称</span>
                    <el-input class="row-item-value" value="" v-model="oDoctor.name " placeholder="医生姓名"></el-input>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 性别</span>
                    <el-radio v-model="oDoctor.gender" label="1">男</el-radio>
                    <el-radio v-model="oDoctor.gender" label="2">女</el-radio>
                    <el-radio v-model="oDoctor.gender" label="0">未知</el-radio>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 年龄</span>
                    <el-input class="row-item-value" value="" v-model="oDoctor.age" placeholder="年龄"></el-input>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14"><i class="i-must">*</i>头像</span>
                    <img src="../../../../common/img/shuhou.png"/>

                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 简介</span>
                    <el-input class="row-item-value" value="" v-model="oDoctor.brief" placeholder="简介"></el-input>
                </div>
            </div>
        </div>
        <div class="segment-title f-14"><span class="s-title-l">工作信息</span> <span class="s-title-r">*必填信息</span></div>
        <div class="doctor-info-ct">
            <div class="row-ct" >
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 职务</span>
                    <el-input class="row-item-value" value="" v-model="oDoctor.duty"></el-input>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 职称</span>
                    <el-select v-model="oDoctor.jobTitle " placeholder="请选择">
                        <el-option
                                v-for="item in oJobTitle"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="row-ct" >
                <div class="row-item" style="" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 擅长</span>
                    <el-input class="row-item-value" value="" placeholder="擅长项目" v-model="oDoctor.specialty"></el-input>

                </div>
            </div>
            <div class="row-ct" style="display: none;">
                <div class="row-item" >
                    <span class="row-item-title f-14" ></span>
                    <span class="goodat f-14">擅长项目11<i class="el-icon-pa-close i-close-p"></i> </span>
                    <span class="goodat f-14">擅长项目22 <i class="el-icon-pa-close i-close-p"></i></span>
                    <span class="goodat f-14">擅长项目33 <i class="el-icon-pa-close i-close-p"></i></span>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 任职状态</span>
                    <el-select v-model="oDoctor.jobCategory" placeholder="请选择">
                        <el-option
                                v-for="item in oInaugural"
                                :key="item.key"
                                :label="item.key"
                                :value="item.key">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" ><i class="i-must">*</i> 从业年限</span>
                    <el-input class="row-item-value" value="" placeholder="从业年限" v-model="oDoctor.jobExperience"></el-input>
                </div>
            </div>
        </div>
    </div>

</div>