<div class="customerinfo-top-content">
    <div class="customerinfo-outer">
        <div class="customerinfo-inner">
     <el-row :gutter="24" type="flex" justify="center" align="center">
        <el-col :span="4">
            <div class="customertop-img">
                <img src="http://img1.imgtn.bdimg.com/it/u=2769906782,1378397103&fm=214&gp=0.jpg" width="120" height="100" >
            </div>
        </el-col>
        <el-col :span="20" justify="space-between" align="" class="border-padding">
            <el-row :gutter="24" type="flex" class="">
                <el-col>
                    <div>
                        <span>客户</span>
                        <p class="customer-name">楊宏偉</p>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="24" type="flex" justify="space-between" class="border-padding">
                <el-col :span="6">
                    <div>
                        <span>电话</span>
                        <p>13012611111</p>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div>
                        <span>微信</span>
                        <p>13012611111</p>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div>
                        <span>通讯地址</span>
                        <p>13012611111</p>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div>
                        <span>客源渠道</span>
                        <p>13012611111</p>
                    </div>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
    </div>
    </div>
</div>