<div class="customerinfo-top-content">
    <div class="customerinfo-outer">
        <div class="customerinfo-inner">
     <el-row :gutter="24" type="flex" justify="center" align="center">
        <el-col :span="4">
            <div class="customertop-img">
                <img src="http://img2.yytcdn.com/user/fanPhoto/130802/0/303E01403D838D84B4C1886D8AE7C9F1_800x0.jpeg" width="120" height="100" >
            </div>
        </el-col>
        <el-col :span="20" justify="space-between" align="" class="border-padding">
            <el-row :gutter="24" type="flex" class="">
                <el-col :span="20">
                    <div>
                        <span>客户</span>
                        <p class="customer-name">{{$parent.oCustomer.name}}</p>
                    </div>
                </el-col>
                <el-col :span="4">
               <!--     <div>
                        <el-button>删除此客户</el-button>
                    </div>-->
                </el-col>
            </el-row>
            <el-row :gutter="24" type="flex" justify="space-between" class="border-padding">
                <el-col :span="5">
                    <div>
                        <span>电话</span>
                        <p>{{$parent.oCustomer.phoneNum}}</p>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div>
                        <span>微信</span>
                        <p>{{$parent.oCustomer.wechatNum}}</p>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div>
                        <span>通讯地址</span>
                        <p>{{$parent.oCustomer.phoneAddress}}</p>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div>
                        <span>客源渠道</span>
                        <p>{{$parent.oCustomer.source}}</p>
                    </div>
                </el-col>

                <el-col :span="4">
                    <div>

                    </div>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
    </div>
    </div>
</div>