<div>
    <div class="case-top" >
        <div style="height: 136px">
            <el-row style="height: 140px">
                <el-col :span="3" :offset="6"><div class="case-top-demo"style="box-sizing:border-box; border-bottom:4px solid #FFF;width:60px"><img src="../../common/img/case-top1.png" class="top-img"><a class="case-top-title"style="margin-bottom:10px;font-size: 16px">项目</a></div></el-col>
                <el-col :span="3"><div class="case-top-demo"><img src="../../common/img/case-top2.png" class="top-img">医生</div></el-col>
                <el-col :span="3"><div class="case-top-demo"><img src="../../common/img/case-top3.png" class="top-img">医院</div></el-col>
                <el-col :span="3"><div class="case-top-demo"><img src="../../common/img/case-top4.png" class="top-img">市场</div></el-col>
            </el-row>
        </div>
    </div>
    <div style="width:100%;height:80%;background:#fff">

        <div class="search">
            <p style="margin-top:20px">
                分类索引</p>

            <div class="case-left box-shadow" style="font-size=14px">

                <a  href="javascript:;" v-for="(list1,index) in product" @click="setscroll(list1.productCode)" :class="{cur:changestyle==list1.productCode}">{{list1.productName}}</a><br>

            </div>


            <div id="right" style="float:right;width:87.6%;padding:0;height:1082px;margin-top:14px;overflow-y:scroll" @scroll="onscorllevent" >
                <div :id="list0.productCode" class="case-right  box-shadow" v-for="(list0,index) in  product "  style="">
                    <div class="tab-con" >
                        <el-row class="case-right-row" v-for="(list1,index) in  list0.productList "  ><div class="case-title" style="font-size: 14px">{{list1.productName}}</div><div style="height:12px"></div>
                            <div class="case-right-col" v-for="(list2,index) in list1.productList"   >
                                <a href="javascript:;" @click="fCaseDetail(list2.productCode)" class="changecol" ><p class="p" style="font-size:14px">{{list2.productName}}</p></a>
                            </div>
                        </el-row>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
