<div class="post-content">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div><div class="fram-box admin-rbox">
        <div class="out-box-border" style="padding: 12px;">
            <div class="post-record">
                <div class="record-text-ct">
                    <div>
                        <span class="f-16 sel-title">全部海报</span>
                    </div>
                    <p class="f-14 org-name">{{oClinicData.name}}</p>
                </div>
            </div>
            <div class="mask" v-if="addPost">
                <div class="mask-ct">
                    <div class="end-close" @click="fCloseAddPost"><img src="../../../common/img/i-cl-close.png"> </div>
                    <div class="select-ct">
                        <label class="" >海报分类 </label>
                        <el-select  v-model="selectClassify"  @change="fSelectClassifynoalert" placeholder="选择海报分类">
                            <el-option
                                    v-for="item in aPostClassify"
                                    :key="item.id"
                                    :label="item.categoryName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="select-img-ct">
                        <input type="file" style="display: none;" ref="uploadImg" @change="fAjaxFileUpload">
                        <div class="post-img" :style="{backgroundImage:['url('+(uploadPostImg.url||defaultImg)+')']}" @click="fChooseImg"></div>
                    </div>
                    <div class="submit-ct">
                        <el-button @click="fSubAddPost" >保存</el-button>
                    </div>
                </div>
            </div>
            <div class="segment-ct">
                <div class="segment-item">
                    <div class="f-14 i-block s-name">选择版式</div>
                    <template v-for="fItem,fIndex in aPosterFormat">
                        <div class="i-block s-item-ct">
                            <div class="i-block  format-item f-choice">
                                <div class="post-pic-ct  add-post-des" style="text-align: center;">
                                    <el-button @click="fAddPost(fItem.id)" >创建</el-button>
                                    <div class="" style="padding: 24px;">
                                        <p class="f-12" >建议最大尺寸<span class="f-14">750*850</span></p>
                                        <p class="f-12" style="padding: 12px;">支持jpg,png,图片大小<span class="f-14">5M以内</span></p>
                                    </div>
                                </div>
                                <div class="post-des-ct">
                                    <div class="i-block  des-logo" style="">
                                        <img class="img-logo i-block" style="" src="../../../common/img/qrcode.png" />
                                        <div class="clinic-logo" :style="{backgroundImage:['url('+(oClinicData.logo?oClinicData.logo:ddddd)+')']}"></div>
                                    </div>
                                    <div class="i-block">
                                        <span class="f-14 i-block clinic-name" style="">{{oClinicData.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="segment-item">
                    <div class="f-14 i-block s-name" style="vertical-align: middle;margin-bottom: 4px;">海报分类</div>
                    <div class="i-block s-item-ct">
                
                        <template v-for="cateItem,cateIndex in aPostClassify">
                            <div class="i-block f-14 post-classify classify-hover" :style="{color:[isCurrentClick==cateItem.id?'#9083ED':'']}" @click="fSelectClassify(cateItem.id)">
                                <label class="cur" :style="{marginRight:[cateItem.type==1?'30px':'']}"  v-if="currentEdit!=cateItem.id">{{cateItem.categoryName}}
                                   <img v-if="cateItem.type!=1" class="add-cate edit-icon" @click="fEditPost(cateItem)" src="../../../common/img/edit-icon.png"></label>
                                <label v-if="currentEdit==cateItem.id"><input type="text" v-model="currentClassifyName" maxlength="20" class="twidth" placeholder="编辑海报分类" />
                                    <span class="sure-btn cur" @click="fEditCommit(cateItem,1)">保存</span><span class="sure-btn cur" @click="fEditCommit(1)">取消</span></label>
                            </div>
                        </template>

                        <div class="i-block f-14 post-classify" @click="fAddPostClassify" v-if="!addPostcate">
                            <el-button class="el-icon-plus"> 新增分类</el-button>
                        </div>
                        <div class="i-block f-14 post-classify" v-if="addPostcate">
                            <input type="text" class="twidth" width="" v-model="currentClassifyName" placeholder="新增海报分类" />
                            <span class="sure-btn" @click="fAddCommit">保存</span><span class="sure-btn" @click="fCloseAdd">取消</span>
                        </div>
                    </div>
                </div>
                <div class="segment-item">
                    <div class="f-14 i-block s-name">海报</div>
                    <div class="i-block  poster-width">
                        <div class="i-block s-item-ct poster-width">
                            <template v-for="postItem,postIndex in aPoster">
                                <div class="i-block  format-item f-choice">
                                    <div class="post-pic-ct" style="text-align: center;">
                                        <div v-if="postItem.type!=1" class="close-icon"><img class="img" @click="fDelPost(postItem.id)" src="../../../common/img/tv/con-error.png"></div>
                                        <div class="poster-size" :style="{backgroundImage:['url('+(postItem.fileUrl?postItem.fileUrl:'')+')']}">
                                           <!-- <img class="post-pic" :src="postItem.fileUrl" />
                                            <div class="clinic-logo" :style="{backgroundImage:['url('+(oClinicData.logo?oClinicData.logo:ddddd)+')']}"></div>-->
                                        </div>
                                    </div>
                                    <div class="post-des-ct">
                                        <div class="i-block  des-logo" style="">
                                            <img class="img-logo i-block" style="" src="../../../common/img/qrcode.png" />
                                            <div class="clinic-logo" :style="{backgroundImage:['url('+(oClinicData.logo?oClinicData.logo:ddddd)+')']}"></div>
                                        </div>
                                        <div class="i-block">
                                            <span class="f-14 i-block clinic-name" style="">{{oClinicData.name}}</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="category-pagination-align" v-if="count>0">
                            <el-pagination
                                    @current-change="handleCurrentChange"
                                    layout="prev, pager, next"
                                    :page-size="pageSize"
                                    :total="count">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>