<div class="admin-product">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div><div class="fram-box admin-rbox">
    <div class="out-box-border" style="padding: 12px;">
        <div class="content" style="">
            <div class="search">
                <p style="margin-top:20px">
                    项目选择</p>
                <div class="case-left out-box-border" style="font-size:14px">
                    <a  v-for="(list,index) in product" :key="index" @click="setscroll(list.productCode)" :class="{cur:changestyle==list.productCode}">{{list.productName}}
                        <span clss="productCount"v-for="(list2,index) in smalllist" v-if="list.productCode==list2.productCode" style="">
                        {{list2.productCount}}</span></a>

                </div>
                <div id="right" class="right" style="" @scroll="onscorllevent">
                    <div :id="list0.productCode" class="case-right  out-box-border" v-for="(list0,index0) in  product " :key="index0" style="">

                        <div class="tab-con">
                            <el-row class="case-right-row" v-for="(list1,index1) in  list0.productList " :key="index1">
                                <p class="case-title1" style="font-size: 14px !important;">{{list1.productName}}</p>
                                <div style="height:12px"> <div style="height: 10px"><p class="select" @click="selectall(list1)" style="">全选</p></div></div>
                                <div class="case-right-col" v-for="(list2,index2) in list1.productList" :key="index2">
                                    <a  @click="selectone(list2)"  :class="getClass(list2)">
                                        <p class="p" style="font-size:14px">{{list2.productName}}</p>
                                    </a>
                                </div>
                            </el-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>