<div class="admin-product">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div>
    <div class="fram-box admin-rbox">
        <!--<div class="content" style="">
            <div class="search">
                <p style="margin-top:20px">
                    分类索引</p>
                <div class="case-left out-box-border" style="font-size:14px">
                    <a  v-for="(list,index) in product" :key="index" @click="setscroll(list.productCode)" :class="{cur:changestyle==list.productCode}">{{list.productName}}</a>
                    <br>
                </div>
                <div id="right" class="right" style="" @scroll="onscorllevent">
                    <div :id="list0.productCode" class="case-right  out-box-border" v-for="(list0,index0) in  product " :key="index0" style="">
                        <div class="tab-con">
                            <el-row class="case-right-row" v-for="(list1,index1) in  list0.productList " :key="index1">
                                <p class="case-title1" style="font-size: 14px !important;">{{list1.productName}}</p>
                                <div style="height:12px"></div>
                                <div class="case-right-col" v-for="(list2,index2) in list1.productList" :key="index2">
                                    <a  @click="fCaselibrary(list2.productCode)" class="changecol">
                                        <p class="p" style="font-size:14px">{{list2.productName}}</p>
                                    </a>
                                </div>
                            </el-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div v-for="(list1,index) in tasks1" >
            <a  @click="fortask2(list1.id)"  :class="{cur:list1.show==1}" >{{list1.text}}<br/></a>
        </div>

    </div>
</div>