
<div class="customer-content" >
    <div class="customers-search-content customer-content-gradient">
        <div class="customers-search">
            <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                <el-tab-pane label="名称" name="customerName">
                    <el-input placeholder="搜索顾客名称"  icon="search" v-model="customerName"
                              :on-icon-click="fSearchData" @keyup.enter.native="fSearchData">
                        <!--  <i slot="prepend" class="el-icon-pa-search"></i>-->
                    </el-input>
                </el-tab-pane>
                <el-tab-pane label="电话" name="telNum">
                    <el-input placeholder="搜索顾客电话"  icon="search" v-model="telNum"
                              :on-icon-click="fSearchData" @keyup.enter.native="fSearchData"></el-input>
                </el-tab-pane>
                <el-tab-pane label="微信" name="WeChat">
                    <el-input placeholder="搜索顾客微信"  icon="search" v-model="WeChat"
                              :on-icon-click="fSearchData" @keyup.enter.native="fSearchData"></el-input>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
<!--    <hr class="vhr">-->
<div class="customer-block-content">
    <div class="customer-block-uinfo">
        <el-row :gutter="24" type="flex" justify="space-between">
            <el-col :span="12" type="flex">
                    <el-col :span="1"><span><i class="el-icon-pa-users customer-pa-icon"></i></span></el-col>
                    <el-col :span="23"><span class="customer-user-name"><p>{{name}}</p><label>{{total}} 条记录，按照登记会时间排序</label></span></el-col>
            </el-col>
            <el-col :span="12"  type="flex" justify="space-between">
                <el-col :span="20">
                    <div class="customer-date">
                        <el-date-picker
                                v-model="registerDate"
                                type="date"
                                placeholder="开始日期"
                                size="small"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                        <el-date-picker
                                v-model="registerDate"
                                type="date"
                                placeholder="结束日期"
                                size="small"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div ><i class="el-icon-pa-refresh customer-pa-icon" @click="fRefresh"></i></div>
                </el-col>
                <el-col :span="2">
                    <div><i class="el-icon-setting customer-pa-icon" @click="fEdit" ></i></div>
                </el-col>
            </el-col>
        </el-row>
        <el-row>

        </el-row>
    </div>
    <div class="customer-block-content">
        <el-table
                :data="aCustomerlist"
                style="width: 100%"
                :default-sort = "{prop: 'date', order: 'descending'}"
        >
            <el-table-column
                    prop="id"
                    label=""
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="customerName"
                    label="名称"
                    width="180">
                <template slot-scope="scope" style="text-align: right;">
                    <p><img class="customer-title" src="../../common/img/logo.png"> {{scope.row.customerName}}</p>
                </template>
            </el-table-column>
            <el-table-column
                    prop="registerDate"
                    label="登记时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="telNum"
                    label="电话"
                    width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="地址">
        </el-table-column>

            <el-table-column label="">
                <template slot-scope="scope" class="aaaaaaaa" style="text-align: right;">
                    <i class="el-icon-pa-ellipsis-v customer-pa-icon" @click="fMoreUserInfo" title="More"></i>
                </template>
            </el-table-column>
        </el-table>
    </div>


    <div class="customer-block-content customer-pagination-align">
        <el-pagination
                layout="prev, pager, next"
                :total="100">
        </el-pagination>
    </div>
</div>

</div>