
<div class="customer-content" >
    <div class="customers-search-content customer-content-gradient">
        <div class="customers-search">
            <el-tabs v-model="searchField" type="card" @tab-click="handleClick">
                <el-tab-pane label="名称" name="name">
                    <el-input placeholder="搜索顾客名称"  icon="search" v-model="fieldValue"
                              :on-icon-click="fSearchData" @keyup.native="fSearchData">
                        <!--  <i slot="prepend" class="el-icon-pa-search"></i>-->
                    </el-input>
                </el-tab-pane>
                <el-tab-pane label="电话" name="phoneNum">
                    <el-input placeholder="搜索顾客电话"  icon="search" v-model="fieldValue"
                              :on-icon-click="fSearchData" @keyup.native="fSearchData"></el-input>
                </el-tab-pane>
                <el-tab-pane label="微信" name="wechatNum">
                    <el-input placeholder="搜索顾客微信"  icon="search" v-model="fieldValue"
                              :on-icon-click="fSearchData" @keyup.native="fSearchData"></el-input>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
<!--    space-between-->
<div class="customer-block-content out-box-border">
    <div class="customer-block-uinfo">
        <el-row :gutter="20"  type="flex" justify="space-between"  >
            <el-col :span="8" type="flex" justify="space-between">
                <div  class="customer-icon"style="float: left;">
                    <div class="c-icon">
                        <img src="../../common/img/icon-customer.png" class="customer-icon" style="">
                    </div>
                </div>
                <div  class="customer-icon" style="float:left;margin-left: 10px">
                      <span class="customer-user-name">
                            <p class="customers-name">{{customerBlock}}</p>
                            <label class="customer-record">{{count}} 条记录，按照登记时间排序</label>
                        </span>
                </div>
            </el-col>
            <el-col :span="14"  type="flex" justify="space-between">
              <!--  <el-col :span="1" style="float: right;">
                    <div ><img src="../../common/img/refresh.png" class="customer-icon" @click="fRefresh"></div>
                </el-col>-->
       <!--         <el-col :span="1" style="padding-left:0px;float: right;">
                    <div><img src="../../common/img/setting.png" class="customer-icon" @click="fEdit"></div>
                </el-col>-->
                <el-col :span="20" style="float: right;">
                    <div class="customer-date">
                        <el-date-picker
                                type="date"
                                placeholder="开始日期"
                                v-model="startDate"
                                size="small"
                                @change="fDateChange"
                                :picker-options="startDatePicker">
                        </el-date-picker>
                        <el-date-picker
                                v-model="endDate"
                                type="date"
                                @change="fDateChange"
                                placeholder="结束日期"
                                size="small"
                                :picker-options="endDatePicker">
                        </el-date-picker>
                    </div>
                </el-col>

            </el-col>
        </el-row>
        <el-row>

        </el-row>
    </div>
    <div class="customer-block-content">
        <el-table
                :data="aCustomerlist"
                style="width: 100%"
                :default-sort = "{prop: 'date', order: 'descending'}"
        >
            <el-table-column
                    prop="id"
                    label="编号"
                    min-width="10%">
            </el-table-column>
            <el-table-column
                    prop="customerName"
                    label="名称"
                    min-width="16%">
                <template slot-scope="scope" style="">
                    <p class="cursorPointer" @click="fCustomerDetail(scope.row.id)"><img class="customer-title" :src="scope.row.logo" v-if="scope.row.logo"><img class="customer-title" v-if="!scope.row.logo" src="../../common/img/customer_default.png"> {{scope.row.name}}</p>
                </template>
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="登记时间"
                    min-width="20%">
                <template slot-scope="scope" style="text-align: right;">
                    <p>{{scope.row.createTime|dateFilter}}</p>
                </template>
            </el-table-column>
            <el-table-column
                    prop="phoneNum"
                    label="电话"
                    min-width="18%">
                <template slot-scope="scope" style="text-align: right;">
                    <!--<p>{{scope.row.phoneNum|phoneFilter}}</p>-->
                    <div :style="{display:[aCustomerlist[scope.$index].willShow!='1'?'':'none']}" >
                       <span>{{scope.row.phoneNum|phoneFilter}}</span>
                        <img class="eye-img" src="../../common/img/i-eye-close.png" v-if="aCustomerlist[scope.$index].phoneNum!=''?true:false " style="margin-left:5px;" @click="openPhone(scope.$index,'1')" >
                    </div>
                    <div :style="{display:[aCustomerlist[scope.$index].willShow=='1'?'':'none']}">
                        <span>{{scope.row.phoneNum}}</span>
                        <img class="eye-img" src="../../common/img/i-eye-open.png" v-if="aCustomerlist[scope.$index].phoneNum!=''?true:false " style="margin-left:5px;" @click="closePhone(scope.$index,'0')" >
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                prop="wechatNum"
                label="微信"
                min-width="18%">
        </el-table-column>

            <el-table-column label="" min-width="18%">
                <template slot-scope="scope"  style="">
                    <i class="el-icon-pa-ellipsis-v customer-pa-icon" @click="fMoreUserInfo" title="More"></i>
                </template>
            </el-table-column>
        </el-table>
    </div>


    <div class="customer-block-content customer-pagination-align">
        <el-pagination
            @current-change="handleCurrentChange"
            layout="prev, pager, next"
            :page-size="pageSize"
            :total="count">
        </el-pagination>
    </div>
</div>

</div>