<div class="detail-clinic">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div><div class="fram-box admin-rbox">
    <div class="out-box-border" style="padding: 12px;">
        <div class="clinic-record">
            <div class="record-text-ct">
                <p class="org-name">{{oClinicData.name}}</p>
                <div>
                    <span class="sel-title">诊所档案</span>
                </div>
            </div>
            <div class="clinic-edit-ct">
                <el-button @click="fEditClinic">编辑</el-button>
            </div>
        </div>


        <div class="segment-title f-14 all-com-title">一般信息</div>
        <div class="clinic-info-ct">
            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" > 诊所名</span>
                    <span class="row-item-value f-14 clinic-name" :title="oClinicData.name">{{oClinicData.name}}</span>
                </div>
                <div class="row-item" >
                    <span class="row-item-title f-14">资质</span>
                    <span class="row-item-value f-14">{{oClinicData.qualification}}</span>
                </div>
            </div>

            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14" > 电话</span>
                    <span class="row-item-value f-14">{{oClinicData.phone}}</span>
                </div>
                <div class="row-item" >
                    <span class="row-item-title f-14">主营业务</span>
                    <span class="row-item-value f-14">{{oClinicData.majorBusiness}}</span>
                </div>
            </div>

            <div class="row-ct">
                <div class="row-item" >
                    <span class="row-item-title f-14">Logo</span>
                    <img v-if="oClinicData.logo" class="up-logo" :src="oClinicData.logo" />
                </div>
                <div class="row-item" >
                    <span class="row-item-title f-14" style="vertical-align: top;">营业时间</span>
                    <span class="row-item-value f-14" style="display: inline-block;">{{oClinicData.businessTime}}</span>
                </div>
            </div>
            <div class="row-ct">
                <div class="row-item" style="" >
                    <span class="row-item-title f-14 v-a-top">门店照片</span>
                </div>
                <div class="addimg clearfix">
                    <template v-for="picItem,pindex in oClinicData.fileVo">
                        <div class="fl">
                            <div class="dynicPic trueImg"
                                 :style="{backgroundImage:['url('+(picItem.url?picItem.url:bydefault)+')']}"
                                 >
                            </div>
                        </div>
                    </template>
                </div>
            </div>

        </div>

        <div class="segment-title f-14 all-com-title" style="clear: both;">地址</div>
        <div class="clinic-info-ct">
            <div class="row-ct">
                <div class="row-item item-address" >
                    <span class="row-item-title f-14">详细地址</span>
                    <span class="row-item-value item-address f-14">{{oClinicData.address}}</span>
                </div>
            </div>
        </div>
        <div class="out-box-border" style="" v-show="oClinicData.address">
            <div id="map-content" class="map-ct"></div>
        </div>
    </div>
    </div>
</div>