<div class="interact-content">


    <div class="interact-link item-border">
        <p class="item-title">相关内容快速链接</p>
        <el-row :gutter="25" type="flex" justify="center" class="link-row">
            <el-col :span="5">
                <div class="link-item">
                    <div>
                        <img src="../../../../common/img/contact.png">
                        <span style="" class="icon-num">6</span>
                    </div>
                  <p class="link-title">咨询沟通</p>
                </div>
            </el-col>
            <el-col :span="5">
                <div class="link-item">
                    <div>
                        <img src="../../../../common/img/diagnosis.png">
                        <span style="" class="icon-num">5</span>
                    </div>
                    <p class="link-title">诊疗记录</p>
                </div>
            </el-col>
            <el-col :span="5">
                <div class="link-item">
                    <div>
                        <img src="../../../../common/img/develop.png">
                        <span style="" class="icon-num">4</span>
                    </div>
                    <p class="link-title">开发记录</p>
                </div>
            </el-col>
            <el-col :span="5">
                <div class="link-item">
                    <div>
                        <img src="../../../../common/img/return.png">
                        <span style="" class="icon-num">14</span>
                    </div>
                    <p class="link-title">顾客回访</p>
                </div>
            </el-col>
            <el-col :span="5">
                <div class="link-item">
                    <div>
                        <img src="../../../../common/img/file.png">
                        <span style="" class="icon-num">8</span>
                    </div>
                    <p class="link-title">文件</p>
                </div>
            </el-col>
        </el-row>
    </div>
    <div class="interact-contact item-border">
        <p class="item-title"><img src="../../../../common/img/icon-customer.png">咨询沟通（20）</p>
        <div  class="contact-item">
            <p class="contact-right-more">.<span class="contact-more">...</span></p>
            <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
            <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

            <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
            <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
            <p class="segment"></p>
            <p> <span  class="contact-item-name">咨询项目：</span></p>
            <p class="contact-item-value">开眼皮/黑眼圈</p>
        </div>
        <div  class="contact-item">
            <p class="contact-right-more">.<span class="contact-more">...</span></p>
            <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
            <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

            <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
            <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
            <p class="segment"></p>
            <p> <span  class="contact-item-name">咨询项目：</span></p>
            <p class="contact-item-value">开眼皮/黑眼圈</p>
        </div>
        <div  class="contact-item">
            <p class="contact-right-more">.<span class="contact-more">...</span></p>
            <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
            <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

            <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
            <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
            <p class="segment"></p>
            <p> <span  class="contact-item-name">咨询项目：</span></p>
            <p class="contact-item-value">开眼皮/黑眼圈</p>
        </div>
    <!--    <el-row :gutter="24" type="flex" justify="space-around">
            <el-col :span="12">
                <div  class="contact-item">
                    <p class="contact-right-more">.<span class="contact-more">...</span></p>
                    <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
                    <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

                    <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
                    <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
                    <p class="segment"></p>
                    <p> <span  class="contact-item-name">咨询项目：</span></p>
                    <p class="contact-item-value">开眼皮/黑眼圈</p>
                </div>
            </el-col>
            <el-col :span="12">
                <div  class="contact-item">
                    <p class="contact-right-more">.<span class="contact-more">...</span></p>
                    <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
                    <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

                    <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
                    <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
                    <p class="segment"></p>
                    <p> <span  class="contact-item-name">咨询项目：</span></p>
                    <p class="contact-item-value">开眼皮/黑眼圈</p>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="24" type="flex" justify="space-around">
            <el-col :span="12">
                <div  class="contact-item">
                    <p class="contact-right-more">.<span class="contact-more">...</span></p>
                    <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
                    <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

                    <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
                    <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
                    <p class="segment"></p>
                    <p> <span  class="contact-item-name">咨询项目：</span></p>
                    <p class="contact-item-value">开眼皮/黑眼圈</p>
                </div>
            </el-col>
            <el-col :span="12">
                <div  class="contact-item">
                    <p class="contact-right-more">.<span class="contact-more">...</span></p>
                    <p><span  class="contact-item-name">咨询师：</span><span class="contact-item-name">杨宏伟</span></p>
                    <p><span  class="contact-item-name">咨询形式：</span><span class="contact-item-value">电话</span></p>

                    <p><span  class="contact-item-name">沟通类别：</span><span class="contact-item-value">询价</span></p>
                    <p> <span  class="contact-item-name">备注：</span><span class="contact-item-value">这是一个自娱自乐</span></p>
                    <p class="segment"></p>
                    <p> <span  class="contact-item-name">咨询项目：</span></p>
                    <p class="contact-item-value">开眼皮/黑眼圈</p>
                </div>
            </el-col>
        </el-row>-->
        <p class="show-all">查看全部</p>
    </div>
    <div class="interact-file item-border">
        <p class="item-title"><img src="../../../../common/img/icon-customer.png"> 文件(20)</p>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>    <div class="file-item">
        <img src="../../../../common/img/icon-customer.png" height="140" width="140">
    </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <div class="file-item">
            <img src="../../../../common/img/icon-customer.png" height="140" width="140">
        </div>
        <p class="show-all">查看全部</p>
    </div>
</div>