<div class="admin-caselist">
    <div class="admin-lbox">
        <tree></tree>
    </div><div class="admin-rbox " >
    <div class="out-box-border innerbox"  style="padding: 12px;">
           <el-row class="rbox-top" :gutter="24" type="flex" justify="space-between" >
                <div>
                    <p>全部案例</p>
                    <span class="f-14">在此页面上,您可以创建,查看并管理案例</span>
                </div>
            </el-row>
            <el-row class="rbox-content" :gutter="24" type="flex" justify="space-between" >
                <div>记录（{{count}}）</div>
            </el-row>
            <div class="input-box clearfix">
                <div class="demo-input-suffix fl">
                   <el-input  @keyup.enter.native="fKeyDown"
                    placeholder="按项目搜索"
                    v-model="productName">
                    </el-input>
                    <i class="el-icon-search icurse" @click="fSearchByProduct"></i>
                </div>
                <div class="selectedbox fr clearfix">
                    <el-select  v-model="doctorId"  @change="currentid" placeholder="按医生筛选">
                        <el-option
                          v-for="item in doctorlist"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                    </el-select>
                    <router-link class="btn-cre" :to="{name:'/admin/backcaselist/backcaseadd',params:{id:'_EPT'}} "  style="color:#333; text-decoration: none;">创建</router-link>
                    <router-link class="btn-cre" :to="{name:'/admin/backcaselist/syncdata'} "  style="color:#333;margin-left: 20px;text-decoration: none;display: none;">同步案例</router-link>
                </div>
            </div>
            <!-- 案例列表-->
            <div class="table-content">
                <el-table
                        :data="oCaseList"
                        style="width: 100%">
                    <el-table-column @click="fDelData(props.row.id)"
                            prop="caseName"
                            label="名称"
                            min-width="30%">
                        <template slot-scope="scope" >
                            <p style="padding:10px 0;" >
                                <span class="c-name" style=""> {{scope.row.caseName}}</span>
                                <img v-if="scope.row.beforePicture.url" class="b-a-img" style="" :src="scope.row.beforePicture.url">
                                <img v-if="scope.row.afterPicture.url" class="b-a-img" style="" :src="scope.row.afterPicture.url">

                            </p>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="doctor.name"
                            label="医生"
                            min-width="10%">
                    </el-table-column>
                    <el-table-column
                            prop="phoneNum"
                            label="项目"
                            min-width="20%">
                        <template slot-scope="scope" >
                            {{scope.row.products|productFilter}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="operationDate"
                            label="诊疗时间"
                            min-width="20%">
                        <template slot-scope="scope">
                            {{scope.row.operationDate|dateFilter}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="操作"
                            style="padding:0px;"
                            min-width="20%">
                       <template slot-scope="props"   >
                            <router-link :to="{name: '/admin/backcaselist/backcaseadd', params: {id: props.row.id, loginName:'admin',
                            } }" style="margin-right:10px; display: inline-block;" >编辑
                            </router-link>
                           <a href="#" style="display: inline-block;" @click="fDelData(props.row.id)" >删除</a>
                      </template>
                    </el-table-column>
                </el-table>
            </div>
            <!--分页组件-->
            <div class="rbox-pagination-align">
                <el-pagination
                        class="el-pagination"
                        @current-change="handleCurrentChange"
                        layout="prev, pager, next"
                        :page-size="pageSize"
                        :total="count">
                </el-pagination>
            </div>
        </div>
    </div>
</div>