<div class="admin-caselist">
    <div class="admin-lbox ">
        <tree></tree>
    </div>
    <div class="admin-rbox " >
        <div class="innerbox out-box-border">
           <el-row class="rbox-top" :gutter="24" type="flex" justify="space-between" >
                <div>
                    <p>全部案例</p>
                    <span>在此页面上,您可以创建,查看并管理案例</span>
                </div>

            </el-row>
            <el-row class="rbox-content" :gutter="24" type="flex" justify="space-between" >
                <div>记录（26）</div>
            </el-row>
            
            <div class="input-box clearfix">
                <div class="demo-input-suffix fl">
                   <el-input
                    placeholder="请输入内容"
                    v-model="input">
                    </el-input>
                    <i class="el-icon-search"></i>
                </div>
                <div class="selectedbox fr clearfix">
                    <el-select  v-model="value" placeholder="按医生筛选">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                    <router-link :to="{name: '/admin/backcaseadd'}"  style="color:#333; text-decoration: none;">
                       + 添加案例
                    </router-link>
                </div>
            </div>
           

            <!-- 案例列表-->
            <div class="table-content">
                <el-table
                        :data="tableData"
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="名称"
                            min-width="30%">
                    </el-table-column>
                    <el-table-column
                            prop="appointmentTime"
                            label="医生"
                            min-width="10%">
                        <template slot-scope="scope" style="text-align: right;">

                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="phoneNum"
                            label="项目"
                            min-width="20%">
                    </el-table-column>
                    <el-table-column
                            prop="projectNames"
                            label="诊疗时间 "
                            min-width="20%">
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="操作"
                            style="padding:0px;"
                            min-width="20%">
                       <template slot-scope="props"   >
                            <router-link :to="{name: '/admin/backcaseupdata', params: {id: props.row.id}}" style="color:#333; margin-right:20px; display: inline-block;" >                                    修改
                              <!--<el-button type="info" size="small" icon="edit">修改</el-button>-->
                            </router-link>
                           <a href="#" style="color:#333;display: inline-block;">删除</a>
                            <!--<el-button type="danger" size="small" icon="delete" >删除</el-button>-->
                            <!-- @click="delete_data(props.row)" -->
                      </template>
                    </el-table-column>

                  <!--   <el-table-column min-width="18%">

                    </el-table-column> -->
                </el-table>

            </div>

            <!--分页组件-->
            <div class="rbox-pagination-align">
                <el-pagination

                        class="el-pagination"
                        @current-change="handleCurrentChange"
                        layout="prev, pager, next"
                        :page-size="pageSize"
                        :total="10">
                </el-pagination>
            </div>
        </div>

    </div>
</div>