<div class="admin-caselist">
    <div class="admin-lbox">
        <tree></tree>
    </div><div class="admin-rbox " >
    <div class="out-box-border innerbox"  style="padding: 12px;">
           <el-row class="rbox-top" :gutter="24" type="flex" justify="space-between" >
                <div style="width: 100%;">
                    <div class="tab-ct tab-bottom" style="">
                        <el-tabs v-model="tabType" @tab-click="fChangeTab">
                            <el-tab-pane label="案例库" name="case"></el-tab-pane>
                            <el-tab-pane label="素材审核" name="material"></el-tab-pane>
                        </el-tabs>
                    </div>
                    <span v-if="tabType==tabCollotion[0]" class="f-14">在此页面上,您可以创建,查看并管理案例</span>
                    <div v-if="tabType==tabCollotion[1]">
                        <span  class="f-14">此页面上可以管理提交的相片和视频，进行审核</span>
                        <div v-if="!isLookAndReview" class="tab-ct review-ct" style="">
                            <template v-for="rItem in oReviewType">
                                <el-button style=""  :class="[reviewType==rItem.ttype?'select-btn':'']" type="" @click="fReviewTab(rItem.ttype)">{{rItem.tname}}</el-button>
                            </template>
                        </div>
                    </div>

                </div>
            </el-row>


        <div v-if="!isLookAndReview">
        <div class="" v-if="tabType==tabCollotion[0]">
            <el-row class="rbox-content" :gutter="24" type="flex" justify="space-between" >
                <div>记录（{{count}}）</div>
            </el-row>
            <div class="input-box clearfix">
                <div class="demo-input-suffix fl">
                   <el-input  @keyup.enter.native="fKeyDown"
                    placeholder="按项目搜索"
                    v-model="productName">
                    </el-input>
                    <i class="el-icon-search icurse" @click="fSearchByProduct"></i>
                </div>
                <div class="selectedbox fr clearfix">
                    <el-select  v-model="doctorId"  @change="currentid" placeholder="按医生筛选">
                        <el-option
                          v-for="item in doctorlist"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                    </el-select>
                    <router-link class="btn-cre" :to="{name:'/admin/backcaselist/backcaseadd',params:{id:'_EPT'}} "  style="color:#333; text-decoration: none;">创建</router-link>
                    <router-link class="btn-cre" :to="{name:'/admin/backcaselist/syncdata'} "  style="color:#333;margin-left: 20px;text-decoration: none;display: none;">同步案例</router-link>
                </div>
            </div>
            <!-- 案例列表-->
            <div class="table-content" >
                <el-table
                        :data="oCaseList"
                        style="width: 100%">
                    <el-table-column @click="fDelData(props.row.id)"
                            prop="caseName"
                            label="名称"
                            min-width="30%">
                        <template slot-scope="scope" >
                            <p style="padding:10px 0;" >
                                <span class="c-name" :title="scope.row.caseName" style="display: inline-block;line-height: 88px;width: 200px;"> {{scope.row.caseName}}</span>
                                <img v-if="scope.row.beforePicture.url" class="b-a-img" style="" :src="scope.row.beforePicture.url">
                                <img v-if="scope.row.afterPicture.url" class="b-a-img" style="" :src="scope.row.afterPicture.url">

                            </p>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="doctor.name"
                            label="医生"
                            min-width="10%">
                    </el-table-column>
                    <el-table-column
                            prop="phoneNum"
                            label="项目"
                            min-width="20%">
                        <template slot-scope="scope" >
                            {{scope.row.products|productFilter}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="operationDate"
                            label="诊疗时间"
                            min-width="20%">
                        <template slot-scope="scope">
                            {{scope.row.operationDate|dateFilter}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="操作"
                            style="padding:0px;"
                            min-width="20%">
                       <template slot-scope="props"   >
                            <router-link :to="{name: '/admin/backcaselist/backcaseadd', params: {id: props.row.id, loginName:'admin',
                            } }" style="margin-right:10px; display: inline-block;" >编辑
                            </router-link>
                           <a href="#" style="display: inline-block;" @click="fDelData(props.row.id)" >删除</a>
                      </template>
                    </el-table-column>
                </el-table>
                <!--分页组件-->
                <div class="rbox-pagination-align">
                    <el-pagination
                            class="el-pagination"
                            @current-change="handleCurrentChange"
                            layout="prev, pager, next"
                            :page-size="pageSize"
                            :total="count">
                    </el-pagination>
                </div>
            </div>
        </div>

        <div class="" v-if="tabType==tabCollotion[1]">
            <div class="table-content" >
                <el-table
                        :data="aCheckList"
                        style="width: 100%">
                    <el-table-column
                                     prop="createTime"
                                     label="上传时间"
                                     min-width="30%">
                        <template slot-scope="scope">
                            {{scope.row.createTime|dateFilter}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="creatorName"
                            label="上传者"
                            min-width="10%">
                    </el-table-column>
                    <el-table-column
                            prop="uploadNum"
                            label="照片/视频数"
                            min-width="20%">
                        <template slot-scope="scope" >
                            <span>{{scope.row.uploadNum}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="busStatus"
                            label="审核状态"
                            min-width="20%">
                        <template slot-scope="scope">
                            <span>{{scope.row.busStatus|checkFilter}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="operationDate"
                            label="归档案例"
                            min-width="20%">
                        <template slot-scope="scope">
                            <span class="c-name" style="">无</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="操作"
                            style="padding:0px;"
                            min-width="20%">
                        <template slot-scope="scope">
                            <el-button style=""  @click="fReviewCase(scope.row.id)" >查看并审核</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--分页组件-->
                <div class="rbox-pagination-align" v-if="checkCount">
                    <el-pagination
                            class="el-pagination"
                            @current-change="handleCheckChange"
                            layout="prev, pager, next"
                            :page-size="checkPageSize"
                            :current-page="checkPageNo"
                            :total="checkCount">
                    </el-pagination>
                </div>
            </div>
        </div>
        </div>

        <div class="lk-review-ct" v-if="isLookAndReview">

            <div class="segment-title f-14">素材列表</div>
            <div class="material-info-ct">
                <div class="row-ct">
                    <div class="addimg clearfix">
                        <template v-for="picItem,pindex in oCheckDetail.fileVo">
                            <div class="fl">
                                <div class="dynicPic trueImg" v-if="picItem.type==1"
                                     :style="{backgroundImage:['url('+(picItem.url?picItem.url:defaultImg)+')']}"
                                >
                                </div>
                                <div class="fl fit-ct" v-if="picItem.type==2">
                                    <video style="width:100%; height:100%; object-fit:contain"  :poster="picItem.thumbnailUrl||defaultvideo"  controls>
                                        <source :src="picItem.url" type="video/ogg">
                                        <source :src="picItem.url" type="video/mp4">
                                        <source :src="picItem.url" type="video/webm">
                                    </video>

                                </div>
                                <div style="text-align: center;">
                                    <template>
                                        <el-radio-group v-model="picItem.status">
                                            <el-radio :label="1">合格</el-radio>
                                            <el-radio :label="2">不合格</el-radio>
                                        </el-radio-group>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>

            <div class="segment-title f-14">审核备注</div>
            <div class="material-info-ct">
                <div class="row-ct">
                    <div class="row-item" style="" >
                        <el-input class="row-item-value" :rows="3" type="textarea"  value="" v-model="oCheckDetail.remark" placeholder="审核备注"></el-input>
                    </div>
                </div>
            </div>

            <div class="segment-title f-14">素材标签</div>
            <div class="material-info-ct">
                <div class="row-ct">
                    <template v-for="tItem in oCheckDetail.tagNames">
                        <span class="ltip"><img src="../../../common/img/icon-tip.png">  {{tItem}}</span>
                    </template>
                </div>
            </div>

            <div class="f-14 customer-info-ct">
                <div class="u-margin user-img" :style="{backgroundImage:['url('+(oCheckDetail.customerLogo)+')']}"></div>
                <div class="u-margin">{{oCheckDetail.customerName||oCheckDetail.customerNickName}}</div>
                <div class="u-margin">{{oCheckDetail.customerMobil||oCheckDetail.customerPhone}}</div>
                <div class="u-margin">
                    <el-button style="width: 120px;"  :class="" type="" :disabled="oCheckDetail.busStatus==2" @click="fSubmitReview">审核</el-button>
                </div>
            </div>


        </div>


        </div>
    </div>
</div>