<div class="casedetail-content">
   <div class="case-info">
        <!--客户日记-->
        <div class="caseinfo-top-content">
            <div class="caseinfo-outer">
                <div class="caseinfo-inner">
                    <!--<h6>小姐姐的美丽日记</h6>-->
                    <el-row :gutter="24" type="flex" justify="center" align="center">
                        <el-col :span="3">
                            <div class="casetop-img" >
                                <img :src="acaseuserlist.customerLogo" width="88" height="88" >
                              </div>
                        </el-col>
                        <el-col :span="21" justify="space-between" align="" class="border-padding">
                            <el-row  type="flex" class="">
                                <el-col :span="4">
                                    <div>
                                        <p class="frist">{{acaseuserlist.customerName}}</p>
                                    </div>
                                </el-col>
                                <el-col :span="2">
                                    <div>
                                        <p class="gender color">{{acaseuserlist.customerGender|Gender}}</p>
                                    </div>
                                </el-col>
                                <el-col :span="2">
                                    <div>
                                        <p class="age color">{{acaseuserlist.customerAge}}</p>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row :gutter="24" type="flex" justify="space-between" class="border-padding">
                                <el-col :span="6">
                                    <div>
                                        <span>医院</span>
                                        <p>{{acaseuserlist.hospitalName}}</p>
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div>
                                        <span>医生</span>
                                        <p>{{acaseuserlist.doctorName}}</p>
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div>
                                        <span>项目</span>
                                        <p>{{acaseuserlist.productName}}</p>
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div>
                                        <span>手术于</span>
                                        <p>{{acaseuserlist.operationDate|dateFilter}}</p>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>

        <!--案例详情-->
        <div class="caseinfo-bottom-content">
            <el-row  class="info-before">

                <el-col :span="20" type="flex">
                    <!--案例封面-->
                    <el-row class="info-cover border-bottom">
                        <p>案例封面</p>
                        <el-col :span="24" type="flex" class="cover-img clearfix" >
                            <div class="left fl li-img" :style="{backgroundImage:[acaseuserlist.frondFile?'url('+acaseuserlist.frondFile.url+')':''] }">
                              <!--  <img :src="acaseuserlist.frondFile?acaseuserlist.frondFile.url:''" width="140" height="140" alt="">-->
                                <span>before</span>
                            </div>
                            <div class="right fl li-img" :style="{backgroundImage:[acaseuserlist.frondFile?'url('+acaseuserlist.backFile.url+')':''] }">
                               <!-- <img :src="acaseuserlist.backFile?acaseuserlist.backFile.url:''" width="140" height="140" alt="">-->
                                <span>after</span>
                            </div>

                        </el-col>
                    </el-row>
                    <el-row class="caseinfo-before border-bottom" type="flex" v-for="item,index in contentList" :key="index" v-if=" item.nodeType == 0 ">
                        <!--术前-->
                        <el-col :span="24" type="flex" >
                            <h6>术前</h6>
                            <ul class="clearfix">
                                <li v-for="(file,index) in item.files" :key="index" class="li-img" @click="showLayer(file.name)" :style="{backgroundImage:'url('+file.url+')'}" style="">
                                    <a href="javascript:;"  >
                                      <!--  <img :src="file.url" data-fileName="file.name" width="215" height="215">-->
                                    </a>
                                </li>
                            </ul>
                            <div class="description">
                                <span class="fristcolor">术前特征 :</span>
                                <span v-for="list,index in contentList"  :key="index">{{list.caseFeature}}</span>
                            </div>
                        </el-col>
                    </el-row>


                    <el-row  class="info-after120 border-bottom" type="flex" v-for="(item,index)  in contentListAfter"  :key="index">
                        <!--术后120天-->
                        <el-col :span="24" type="flex">
                            <div class="title clearfix">
                                <span>{{item.title}}</span>
                                <span :class="isActive?'':'active'"  v-show='index==0'  @click="fromBefore()" style="cursor:pointer">从最近开始浏览</span>

                                <span :class="isActive?'active':''" v-show='index==0'  @click="fromNow()" style="cursor:pointer; margin-right: 20px;" >从最早开始浏览</span>
                            </div>
                            <ul class="clearfix">
                                <li v-for="(file,index) in item.files" :key="index" class="li-img" @click="showLayer(file.name)" :style="{backgroundImage:'url('+file.url+')'}">
                                 <!--   <a href="javascript:;" @click="showLayer(file.name)">
                                        <img :src="file.url"  width="215" height="215">
                                    </a>-->
                                </li>
                            </ul>
                            <p style="margin-top:10px;">{{item.description}}</p>
                            <div class="timeNow">{{item.definitionDate|dateFilter}}</div>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="4" type="flex">
                    <!--广告预留位-->
                </el-col>

            </el-row>
        </div>

    </div>
    <!--案例弹出层-->
    <!-- v-show="show==0?true:false;"  v-on:mouseenter="showArrBtn(0)" v-on:mouseleave="hideArrBtn(1)"  v-show="isShow!= '1' ?'false' :'true' ;"-->
    <div class="case-layer" id="Idiv" v-show='reveal' >

        <div class="content-box" id="mou_head">
            <span class="close el-icon-pa-close" @click="closeLayer" ></span>
            <div class="left-box">
                <div class="carousel-wrap" id="carousel" >
                    <img :src="zoomPhoto">
                    <div class="arrowbox clearfix">
                        <span class="btn-l el-icon-arrow-left fl" @click="reduce"></span>
                        <span class="btn-r el-icon-arrow-right fr" @click="add"></span>
                    </div>
                </div>
            </div>
           <div class="right-box">
                <el-Button :class="isclick_before=='before'?'isclick':'' " nativeType="button" size="small" @click="setPhone(0)">设置为before</el-Button>
                <el-Button :class="isclick_after=='after'?'isclick':''" nativeType="button" size="small" @click="setPhone(1)">设置为after</el-Button>
            </div>
        </div>
    </div>


</div>

